.collapse {
  &-panel-wrapper {
    border: 1px solid $black-05;
    border-radius: 16px;
    &.form {
      background-color: $black-07;
      border-color: transparent;
    }
  }
  &-heading {
    &-wrapper {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 64px;
      justify-content: space-between;
      padding: 20px 32px;

      &:focus {
        border-color: $brand-warning;
      }

      &.heading-disabled {
        cursor: default;

        &:hover {
          border-color: $black-05;
        }

        & .collapse-heading-icon {
          cursor: default;
        }
      }

      & + div[aria-expanded="true"] {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $black-05;
        transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, border-top-width 0s 50ms !important;
      }
    }

    &-icon {
      margin-left: 16px;
      &::before {
        content: "\e998";
        display: block;
        font-family: "prodicon";
        font-size: 16px;
        transform: unset;
      }
      &.icon-expanded::before {
        transform: rotate(-180deg);
      }
    }
  }
}
