{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/indent": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/ban-types": "off",
    "no-restricted-syntax": "off",
    "max-len": [
      "error",
      {
        "ignorePattern": "^(import|export)\\s.+\\sfrom\\s.+;$|:\\s*(SagaReturnType|ReturnType|FilterType)<|\\s*const\\s.+:\\s*React.FC<",
        "code": 80,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreTrailingComments": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["ducks.ts"],
      "rules": {
        "no-param-reassign": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "valid-jsdoc": [
          "error",
          {
            "prefer": {
              "arg": "param",
              "argument": "param",
              "class": "constructor",
              "return": "returns",
              "virtual": "abstract"
            },
            "requireParamDescription": true,
            "requireReturnDescription": true,
            "requireParamType": false,
            "requireReturnType": false,
            "requireReturn": true
          }
        ]
      }
    },
    {
      "files": ["selectors.ts"],
      "rules": {
        "valid-jsdoc": "off"
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb-typescript",
    "plugin:react-hooks/recommended",
    "eslint-config-korus/react",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "env": {
    "browser": true
  },
  "globals": {
    "it": true,
    "expect": true,
    "test": true,
    "describe": true,
    "beforeEach": true,
    "beforeAll": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  }
}
