@import './variables.scss';

.subtitle {
  color: var(--text-subtitle-color, $black-03);
}

.txt {
  &-black {
    color: var(--text-color, $black-01) !important;
  }

  &-white,
  &-reverse {
    color: var(--text-reverse-color, $white) !important;
  }

  &-dark-gray {
    color: var(--text-subtitle-dark-color, $black-02) !important;
  }

  &-success {
    color: var(--brand-color, $brand-primary);
  }

  &-danger {
    color: var(--text-danger-color, $brand-danger);
  }

  &-info {
    color: var(--link-color, $secondary-02);
  }
}