@import './variables.scss';

.nav-tabs > {
  ul {
    background: var(--nav-bg, $black-06);
    
    &.bg-reverse {
      background: var(--nav-reverse-bg, $white);
    }

    li.level-1 {
      &.active {
        background: var(--nav-item-active-bg, $black-05) !important;
      }

      &:hover:not(.active) {
        background: var(--nav-tabs-item-hover-bg, $black-07);
      }
    }
  }
}