@import './variables.scss';

// карточка
.box {
  background-color: var(--bg-box, $white);
  border-color: var(--box-border, $black-05);
}

.card-wrapper {
  border-color: var(--card-border, $black-05);

  &.action {
    box-shadow: var(--card-action-shadow, $shadow-level-1);

    &:hover {
      border: 1px solid var(--card-action-hover-border, $black-05);
      box-shadow: var(--card-action-hover-shadow, $shadow-level-2);
    }

    &.selected {
      border-color: var(--brand-color, $primary-02);
    }
  }
}