@import '../variables.scss';

.personal-box {

  .dropdown-projects {

    &.opened ul a {
      font-family: 'SbSansDisplay';
      font-weight: 600;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $success;
      padding-top: .9rem;
      padding-bottom: .9rem;
    }
  
    button.more, .personal-box .dropdown-projects button.more:hover {
      min-width: auto;
      height: auto;
      padding-bottom: .8rem !important;
      padding-top: .8rem !important;
      background-color: transparent;
      border-color: transparent !important;
    }
  
  }

  .dropdown-wrapper>ul {
    top: 102%;
  }
}
