.notifications {

  &-wrapper {
    position: fixed;
    width: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: $zindex-notifications;

    &.collapsed {
      border-radius: 8px;
      box-shadow: $shadow-level-5;
      overflow: hidden;
    }

    &-b {

      .notifications-item.notifications-item-b {
        padding: 16px 8px 8px 16px;
        margin-bottom: 16px;
      }
    }
  }

  &-icon-close {

    &:before {
      font-size: 30px;
      color: $gray-dark;
      content: ' ';
      background: url("data:image/svg+xml,%3Csvg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.94444 1.94444L33.2396 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M34.0556 1.94444L2.76036 33.2396' stroke='%23949494' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E")
        center / 40% no-repeat;
      width: 30px;
      display: block;
      height: 30px;
    }

    width: 30px;
    height: 30px;
    display: block;
    margin: 0 10px 0 0;
    cursor: pointer;
  }

  &-content {
    border-left: 1px solid $gray;
    padding: 20px 10px;
    width: 90%;
  }

  &-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 0 5px 20px #ccc;
    padding: 0;
    color: $black-01;
    background-color: $white;
    border-radius: 8px;

    &-b {

      h2 {
        font-size: 16px;
        line-height: 21px;
      }

      .notifications-icon-close {
        top: 8px;
        right: 8px;
        height: 16px;
        width: 16px;

        @media (max-width: 768px) {

          .notifications-top & {
            height: 24px;
            width: 24px;
          }
        }
      }

      .info-message {
        font-size: 12px;
        line-height: 16px;

        .notifications-icon {
          color: $secondary-02;
          padding-right: 4px;
          font-size: 16px;
          line-height: 16px;
        }
      }

      .notifications-time {
        position: absolute;
        color: $black-04;
        bottom: 8px;
        right: 8px;
        margin: 0;
        font-size: 12px;
        line-height: 16px;
      }

      &.notification-item-b-collapsed {

        &:not(:first-of-type) {
          visibility: hidden;
        }
  
        &:nth-of-type(2),
        &:nth-of-type(3) {
          visibility: inherit;
          margin-top: -32px;
          border-radius: 0 0 8px 8px;
  
          .notifications-icon,
          .notifications-content,
          button,
          .notifications-time {
            display: none !important;
          }
        }
  
        &:nth-of-type(2) {
          z-index: $zindex-notifications-second-item;
        }
  
        &:nth-of-type(3) {
          z-index: $zindex-notifications-third-item;
          margin-bottom: 0;
        }
  
        &:nth-of-type(n+4) {
          display: none;
        }
      }
    }
  }

  &-top {
    right: 28px;
    top: 84px;
    bottom: auto;
    left: auto;
    transform: none;
    width: 376px;
    margin-bottom: 8px;

    .notifications-item {
      justify-content: start;
      padding: 16px 32px 16px 16px;
      align-items: unset;
      box-shadow: $shadow-level-5;
      margin-bottom: 8px;
    }

    .notifications-icon {
      padding: 0 8px 0 0;
    }

    .notifications-content {
      border-left: none;
      width: 300px;
      padding: 0;
    }

    .notifications-icon-close {
      position: absolute;
      top: 6px;
      right: 6px;
      margin: 0;
      height: 20px;
      width: 20px;

      &::before {
        font-family: 'prodicon', sans-serif;
        color: $black-05;
        content: '\e995';
        font-size: 20px;
        background: none;
        width: auto;
        height: auto;
      }
    }
  }
}
