/* favorite page
----------------------------------------------------------------------------- */

.bk-message-text {
  overflow: hidden;
  height: 6rem;
}

/* transparent background in the component input
----------------------------------------------------------------------------- */

input.fill-bg-transparent:-webkit-autofill,
input.fill-bg-transparent:-webkit-autofill:hover,
input.fill-bg-transparent:-webkit-autofill:focus,
input.fill-bg-transparent:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.border-success {
  border-color: $brand-primary !important;
}

.border-danger {
  border-color: $brand-danger;
}

@include breakpoints-max(sm) {

  .autocomplete-wrapper > input {
    text-align: left;
  }
}

@include breakpoints-min(md) {

  /* input - min769
  ----------------------------------------------------------------------------- */

  .width-126 {
    width: 12.6rem;
  }

  .width-290 {
    width: 29rem;
  }
}
