@import 'variables';

.header-fixed {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 302;

  & + .content-wrapper {
    padding-top: 5rem;
  }

  & + .content-box {
    padding-top: 11.3rem;
    min-height: calc(100vh - 15.7rem) !important;
  }

  & + .tariff-sidebar {
    z-index: 301;
  }

  .hamburger + nav {
    margin-left: 1.6rem;
  }
}

.personal-box {

  .search-success {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .opened .button-dropdown {
    border-color: transparent;
  }

  .user-name {
    display: inline-block;
    text-align: left;
    max-width: 27rem;
    border-radius: 1.6rem !important;
    border-width: 0;
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
    padding-left: 1.6rem !important;

    &:not(.button-dropdown) {
      padding-right: 1.6rem !important;
    }

    &.button-dropdown {
      padding-right: 4.4rem !important;
    }

    .subtitle {
      line-height: 1.6rem;
    }
  }

  .button-dropdown:hover {
    background-color: $black-07;
  }
}

/* top-menu
----------------------------------------------------------------------------- */

.header-fixed .top-menu.open .hamburger > {

  .bar {
    left: -.2rem;
  }

  .bar1, .bar-1 {
    transform: rotate(45deg);
    height: .2rem;
    width: 2.6rem;
    top: .7rem;
  }

  .bar2, .bar-2 {
    transform: rotate(-45deg);
    height: .2rem;
    background-color: transparent;
  }

  .bar4, .bar-4 {
    transform: rotate(-45deg);
    height: .2rem;
    width: 2.6rem;
    bottom: .7rem;
  }
}

.top-menu {

  .k-space-left {
    padding-left: 1.4rem;
  }

  &-search {
    border: 0 !important;
    padding: 0;
    box-shadow: none !important;
  }

  &-wrap {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    nav .level-1 > a, nav .level-1 > span {
      padding: .8rem;
      box-shadow: none;
    }

    .border-none {
      box-shadow: none !important;
    }

    h4 {
      line-height: 1.8rem;

      .txt-small {
        line-height: 1.4rem;
      }
    }
  }
}

/* menu-box
----------------------------------------------------------------------------- */

.level-1 {

  > a svg {
    fill: $gray-dark;
  }

  > a:hover svg {
    fill: $brand-warning !important;
  }

  &.active a svg {
    fill: $brand-warning !important;
  }
}

.m-menu {
  padding-bottom: 0 !important;

  .active:not(a) {
    background-color: transparent;

    > a {
      color: $black-01;
      background-color: $gray-2;
      border-radius: $border-radius-primary;
    }
  }

  nav {
    height: 100%;
  }
}

@include breakpoints-max(md) {
  
  .header-fixed {

    & + .content-box {
      padding-top: 15rem;
    }
  }
}

@include breakpoints-max(sm) {

  .header-fixed {

    + .content-wrapper, .aside-menu {
      padding-top: 8rem;
    }
  }
  
  .header-fixed .top-menu-wrap {

    .hamburger {
      position: absolute;
      margin-top: .8rem;
      top: 0;
      right: 0;
    }
  }
}

@include breakpoints-min(md) {

  .header-fixed.push-content-6 {
    & + .content-box {
      min-height: calc(100vh - 10.4rem) !important;
    }
  }
}

@include breakpoints-min(lg) {

  .header-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
