@import 'variables';

/* list
----------------------------------------------------------------------------- */

$spacers: (4, 8, 12, 16, 24, 32) !default;

@each $spacer in $spacers {
  .list-space-#{$spacer} {

    dt {
      padding-top: 0;
    }

    dd {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: #{$spacer}px;
      min-height: auto !important;
    }

    li {
      padding-top: 0;
      padding-bottom: 0;

      &::before {
        top: 0;
      }
    }

    li:not(:last-child) {
      padding-bottom: #{$spacer}px;
    }
  }
}

.list-endash {

  > li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &::before {
      content: "\2013";
      position: absolute;
      top: 0;
      left: -1.6rem;
      color: $black-01;
    }
  }
}

@include breakpoints-max(lg) {

  .list {

    dt {
      float: none;
      font-size: 1.4rem;
      font-weight: 500;
      width: 100% !important;

      > label {
        font-weight: 500;
      }
    }

    dd {
      padding-left: 0 !important;
    }

    &.list-gray-dt {

      dd {
        min-height: unset;
      }

      dd:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      dt {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $black-03;
        padding-top: 0;
        padding-bottom: 0;

        & > label {
          font-weight: 400;
          margin-top: 0;
        }
      }
    }
  }
}

@include breakpoints-max(md) {

  .list-md {

    dt {
      float: none;
      width: 100% !important;

      > label {
        font-weight: 500;
      }

      &.list-gray-dt {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $black-03;
        padding-top: 0;
        padding-bottom: .4rem;

        & > label {
          font-weight: 400;
          margin-top: 0;
        }
      }
    }

    dd {
      padding-left: 0 !important;
      min-height: auto !important;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }
}
