@import 'variables';


/* marker-v2  -- base page
----------------------------------------------------------------------------- */

.markers {

  li {
    padding-bottom: 1rem;
  }

  &.no-pointer li {
    cursor: default;
  }

  .novicon-question {
    font-size: 2.45rem;
    margin-left: -.3rem;
  }

  [class^="novicon-"],
  [class*=" novicon-"] {
    margin: .4rem .8rem 0 0;
  }

  .marker {
    border-color: $gray-dark;
    background-color: $body-bg;
    border-width: 1px;
    border-radius: 3rem;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
    padding: .2rem 1rem .2rem 2.5rem;
    position: relative;

    .count {
      margin-left: 0;
      left: .7rem;
    }

    > .i-label {
      background-color: $gray-dark;
    }

    &.success {
      border-color: $brand-primary;

      > .i-label {
        background-color: $brand-primary;
      }
    }

    &.danger {
      border-color: $brand-danger;

      > .i-label {
        background-color: $brand-danger;
      }
    }

    &.warning {
      border-color: $brand-warning;

      > .i-label {
        background-color: $brand-warning;
      }
    }

    &:hover {
      background-color: $gray-light;
    }
  }

  .count:not(.i-label) {
    padding: 0;
    margin: .5rem 0 0 0;
    height: 2rem;
    width: 2rem;

    &.gray {
      background-color: $gray-dark;
    }
  }

  .inner {
    padding-left: .5rem;
  }

  @at-root .tooltip#{&} {
    color: $text-color;
    background-color: $white;
    padding: 0 1.6rem 1.6rem 1.6rem;
    width: 25rem !important;
    height: auto !important;
  
    div:last-child {
      padding: 0;
      width: auto;
    }
  
    &.bottom:after, &.bottom-right:after, &.bottom-left:after {
      border-bottom-color: $white !important;
    }
  
    &.left:after {
      border-left-color: $white !important;
    }
  
    &.right:after {
      border-right-color: $white !important;
    }
  
    &.top:after, &.top-right:after, &.top-left:after {
      border-top-color: $white !important;
    }
  }
}
