@import 'variables';

.rating {

  .header {
    margin: 1rem 1rem 1.6rem;
  }

  .new-area {
    border-left: .3rem solid $accent-02;
  }

  .wrapper-base-small {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
  }
}

.request-rating .panel {
  user-select: none;
  border-style: solid;
  border-color: $black-06;
  border-width: 0 1px;
  margin-bottom: 0;
  padding-bottom: 1rem;

  .list {
    padding-top: 2.4rem;
    margin-bottom: 0;

    li {
      padding-bottom: .6rem;
    }
  }

  &:first-child {
    border-top-width: 1px;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
  }

  &:last-child {
    border-bottom-width: 1px;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
  }

  &.active {
    border: 1px solid $brand-primary;
    background-color: $black-07;
  }
}

@mixin rating-bg($bg-brand, $bg-value) {
  color: $text-reverse;
  background-color: rgba($bg-brand, $bg-value);
}

@mixin rating-label($bg-brand, $position) {
  position: relative;

  &::before {
    content: attr(data-label);
    color: $text-color;
    position: absolute;
    left: map-get($position, left);
    right: map-get($position, right);
    top: calc(100% + .8rem);
  }

  &::after {
    content: "";
    display: block;
    height: .4rem;
    background-color: $bg-brand;
    @if $bg-brand == $brand-danger {
      border-radius: .4rem 0 0 .4rem;
    }
    @if $bg-brand == $brand-primary {
      border-radius: 0 .4rem .4rem 0;
    }
  }
}

.rating-scale {
  color: $black-04;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem .4rem 4rem;
  text-align: center;

  .rs-item {
    border-radius: 2.4rem;
    margin-bottom: .4rem;
    position: relative;
  }

  .rs-item > div {
    border-radius: 2.4rem;
    text-align: center;

    &::before {
      content: attr(data-number);
      display: block;
      line-height: 2.2rem;
      text-align: center;
      width: 2.2rem;
      height: 2.2rem;
      padding-top: 1px;

    }
  }

  .rs-1 {

    .rs-item.active, .rs-item > div.active {
      @include rating-bg($brand-danger, .3);
    }

    .rs-item > div.active {
      @include rating-bg($brand-danger, 1);
    }

    .rs-item {
      margin-right: 20%;
    }
    @include rating-label($brand-danger, $position: (left: 0, right: auto));
  }

  .rs-2 {

    .rs-item.active, .rs-item > div.active {
      @include rating-bg($brand-warning, .3);
    }

    .rs-item > div.active {
      @include rating-bg($brand-warning, 1);
    }

    .rs-item {
      margin-left: 8.5%;
      margin-right: 9.5%;
    }
    @include rating-label($brand-warning, $position: (left: 0, right: 0));
  }

  .rs-3 {

    .rs-item.active, .rs-item > div.active {
      @include rating-bg($brand-primary, .3);
    }

    .rs-item > div.active {
      @include rating-bg($brand-primary, 1);
    }

    .rs-item {
      margin-left: 9.5%;
    }
    @include rating-label($brand-primary, $position: (left: auto, right: 0));
  }
}
