@import 'variables';

/* Связи - legend
----------------------------------------------------------------------------- */

.dropdown-wrapper {

  &.opened .button-wrapper.button-revers {
    background-color: $black-05 !important;
  
    i {
      color: $brand-primary;
      transition: color .3s;
    }
  }

  ul.dropdown-legend {
    border-radius: 1.6rem;
    padding: 1.2rem .8rem 1.2rem 1.2rem;
  }
}

.button-wrapper.button-revers {
  border-color: $black-05;
  background-color: transparent !important;

  &:hover i {
    color: $black-03;
    transition: color .3s;
  }

  &:active {
    border-color: $focus-border;
  }
}

/* spider
----------------------------------------------------------------------------- */

.spider {
  height: 50rem;
}

/* Связи - table
----------------------------------------------------------------------------- */

#spider-old {

  .spider-section {
    padding-bottom: 4rem;
  }

  .spider-workspace {
    position: relative;
  }

  .spider-panels {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  .pie-menu {
    position: absolute;
  }

  .action {
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
    background-color: $gray-lighter;
    color: $text-color;
    border-radius: 50%;
    border: 1px solid $gray-base;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;

    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }

  .action:hover {
    background-color: $gray;
  }

  .action i {
    margin-top: .2rem;
    line-height: 1.4rem;
    display: inline-block
  }

  .pie-menu .card {
    top: -.5rem;
    left: -4.5rem;
  }

  .pie-menu .connections {
    top: -3rem;
    left: -4rem;
  }

  .pie-menu .add {
    top: -3rem;
    left: 2rem;
  }

  .pie-menu .pinned {
    top: -4.8rem;
    left: -1rem;
  }

  .popup-header {
    padding: 1rem 0;
    background-color: $gray-lighter;
    border-bottom: 1px solid $gray;
  }

  .popup-header-text {
    padding: 0 2.5rem 0 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-overflow: ellipsis;
  }

  .popup-actions {
    margin-right: 1.5rem;
  }

  .infoform {
    border: 1px solid $gray;
    position: relative;
    background-color: $white;
    border-radius: .5rem;
    padding: 0;
    box-shadow: 0 .1rem 1.5rem 0 rgba($gray-base, .1);
    overflow: hidden;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 10rem;
  }

  .infocontainer {
    overflow-y: auto;
    padding: 1rem;
  }
 
  @include breakpoints-max(md) {

    .spider-relations-table .m-table {
      table-layout: fixed;
    }

    .spider-relations-table .m-table td {
      padding: 1rem;
    }

    .spider-relations-table .m-table td:empty {
      display: none;
    }

    .spider-relations-table .m-table td:last-child {
      font-size: inherit;
    }

    .spider-relations-table td::before {
      font-weight: 700;
    }
  }

  /* relation - max768
  --------------------*/

  .bottom-panel-sticky {
    min-height: unset !important;
  }

  .bottompanel-wrapper::after {
    display: none;
  }
}
