@import 'variables';

/* old-browser
----------------------------------------------------------------------*/

.link-oldbrowser {
  position: fixed;
  z-index: 101;
  left: 0;
  bottom: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  background-color: $black-06;
  opacity: .1;

  &:hover {
    opacity: 1;
  }
}
