@include breakpoints-max(md) {

  .sticky-wrapper {
    height: auto !important;
    width: auto !important;

    > * {
      height: auto !important;
      width: auto !important;
    }
  }

  .stickypanel-wrapper .stickypanel-container {
    box-shadow: none;
  }

  .stickypanel-wrapper.fixed .stickypanel-container::before {
    display: none;
  }
}