@import 'variables';

/* rating page
----------------------------------------------------------------------------- */

.tooltip-w150 {
  width: 15rem;
}

.tooltip-badge {
  width: 17rem;
  font-size: 1.4rem;
  line-height: 1.3;
  padding: .4rem;
}
