@import 'variables';

@include breakpoints-max(lg) {

  .v-stepper-content {
    padding-right: 3.2rem;
    padding-bottom: 2.4rem;
    margin-left: 1.6rem;

    .box-16 {
      padding: 1.2rem 2rem;
    }

    ul.list.list-check li {
      margin-right: 2.4rem;
    }
  }

  .v-stepper-title {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include breakpoints-max(md) {

  .v-stepper-step {
    padding-left: 1.6rem;
  }

  .v-stepper-heading {
    padding-left: 1.6rem;
    padding-right: 3.2rem;
  }

  .v-stepper-ending {
    padding: 1.35rem 3.2rem 1.35rem 0;
    margin-left: 1.6rem;
  }
}

@include breakpoints-max(sm) {

  .v-stepper-content {
    padding-right: 1.6rem;
  }

  .v-stepper-heading {
    padding-right: 1.6rem;
  }

  .v-stepper-ending {
    padding-right: 1.6rem;
  }
}
