.rating {
  &-wrapper {
    display: inline-flex;
  }

  &-item {
    cursor: pointer;

    &::after {
      display: block;
      content: '\e949';
      color: $black-03;
      width: 40px;
      font-size: 40px;
      height: 40px;
      font-family: 'novicon';
    }

    &.filled::after {
      color: $accent-02;
    }
  }
}
