.rating {
  &-wrapper {
    display: inline-flex;
  }

  &-item {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &::after {
      display: block;
      content: '\e99d';
      color: $accent-02;
      width: 20px;
      font-size: 20px;
      height: 20px;
      font-family: 'prodicon';
    }

    &.filled::after {
      content: '\e99e';
    }
  }
}
