.grid {
  display: grid !important;
  grid-template-rows: repeat(var(--#{$variable-prefix}rows, 1), 1fr);
  grid-template-columns: repeat(var(--#{$variable-prefix}columns, #{$grid-columns}), 1fr);
  column-gap: var(--#{$variable-prefix}gap, #{$grid-gutter-width});
  
  @include make-cssgrid();
}