.suggestion {
  &-wrapper {
    visibility: hidden;
    background-color: var(--suggestion-bg);
    box-shadow: var(--dropdown-shadow);
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 100%;
    width: 100%;
    z-index: $zindex-suggestion-list;
    border-radius: $input-border-radius;
    left: 0;
    padding: 4px;

    &.visible {
      visibility: visible;
    }

    &.pos-top {
      top: auto;
      bottom: 100%;
      box-shadow: var(--dropdown-shadow-top);
    }

    & .nodata {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      font-size: 14px;
    }

    & .loader-wrapper {
      min-height: 200px;
    }
  }

  &-list {
    padding-left: 0;
    margin-bottom: 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-group {
    padding: 3px 10px 5px 10px;
  }

  &-group > .suggestion-item {
    padding: 3px 10px 5px 35px;
    margin: 2px;
  }

  &-group-label {
    color: $black-04;
  }

  &-item {
    padding: 5px 8px;
    line-height: 18px;
    border-radius: $input-border-radius;
    cursor: pointer;
    color: var(--text-color);

    &:not(:last-of-type) {
      margin-bottom: 2px;
    }

    &.placeholder {
      color: $black-03;
    }

    &.highlighted {
      background-color: $black-06;

      &:hover {
        box-shadow: none;
      }
    }

    &:hover {
      background-color: var(--suggestion-bg-hover);
    }

    &.selected {
      background-color: var(--suggestion-bg-selected);
      color: var(--text-color);
    }
  }
}
