.content-box {
  margin-left: 22.4rem;
  margin-top: 6rem;
  padding-bottom: 0;
  max-width: calc(100% - 22.4rem);
  min-height: calc(99vh - 6rem);

  .content {
    max-width: calc(100% - 22.4rem);
    padding: 0 3.2rem;

    .demo {
      height: 100%;
      border-radius: .8rem;
      padding: 2.4rem 3.2rem;
      background-color: $black-06;

      &-content {
        max-width: 100%;

        &:not(.demo-content-full) {
          width: fit-content;
        }
      }

      &-bad,
      &-good {
        padding-left: 4.4rem;

        &::before {
          content: '';
          border-radius: .6rem 0 0 .6rem;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 1.2rem;
        }
      }

      &-bad {
        position: relative;

        &::before {
          background-color: $red;
        }
      }

      &-good {
        position: relative;

        &::before {
          background-color: $green;
        }
      }
    }

    h1,
    .h-1 {
      font-size: 3.2rem;
      line-height: 4rem;
    }

    h2,
    .h-2 {
      font-size: 2.1rem;
      line-height: 3.2rem;
    }

    h3,
    .h-3 {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    h4,
    .h-4 {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .h-1,
    h2,
    .h-2,
    h3,
    .h-3,
    h4,
    .h-4,
    .b-1 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .h-1,
    h2,
    .h-2,
    h3,
    .h-3,
    h4,
    .h-4 {
      font-weight: 500;
      margin-bottom: 1.2rem;
    }

    &-guides-inner-question {
      padding: .6rem 2rem .6rem 1.2rem;
      border: .1rem solid $black-03;
      border-radius: .6rem;
      color: $black-03;
      font-style: italic;
      display: inline-block;
      margin-bottom: 2.4rem;
      position: relative;

      &::before {
        content: '';
        border: .6rem solid transparent;
        border-top: .6rem solid $black-03;
        border-left: .6rem solid $black-03;
        position: absolute;
        bottom: -1.2rem;
      }

      &::after {
        content: '';
        border: .5rem solid transparent;
        border-top: .5rem solid $white;
        border-left: .5rem solid $white;
        position: absolute;
        bottom: -1rem;
        left: 1.3rem;
      }
    }

    .list-icon {

      i {
        margin-right: .4rem;
      }

      &-menu {

        img {
          margin: 1.2rem;
        }
      }
    }

    .hljs {
      border: .1rem solid $base-13;
      border-radius: .4rem;
      margin-bottom: 1.2rem;
      padding: 1.2rem;
    }
  }
}