@mixin border($color) {
  border: 1px solid $color;
  border-radius: .8rem;
}

.demo {

  &-grid,
  &-flex-grid {
    @include border($black-06);
    padding: 1.2rem;

    &-col {
      background: $black-06;
      @include border($white);
      padding: .8rem;
      text-align: center;

      .demo-grid-col {
        background: $black-05;
        border: none;
      }
    }

    &-row {
      background-color: $black-07;
      @include border($black-07);
      min-height: 12rem;
      padding: .8rem;

      .demo-flex-grid-col {
        border-color: $black-07;
      }
    }
  }

  &-inner,
  &-padding,
  &-margin {
    background: $black-06;
    @include border($black-06);

    > * {
      background: $white;
      text-align: center;
    }
  }

  &-margin {
    padding: 1.2rem;
  }
}