@import "_variables.scss";

header {

  img {
    width: 2rem;
  }

  .personal-box .active:not(a) {
    background-color: $black-05;
  }

  .logo {
    width: 15.5rem;
  }

  .switcher-wrapper {

    // Цвета будут поправлены на правильные после добавления темы

    .switcher-handle {
      background-color: $blue;
      position: relative;

      &::after {
        content: '</>';
        color: $white;
        font-size: .9rem;
        position: absolute;
        top: -.2rem;
        left: 1px;
      }
    }

    &:hover {

      .switcher-handle {
        background-color: rgba($blue,.5);
      }
    }

    &.active {

      .switcher-handle {
        background-color: $green;
      }

      &:hover {

        .switcher-handle {
          background-color: rgba($green,.5);
        }
      }
    }
  }
}