@media (max-width: 1023.98px) {

  .auto-dropdown {

    .dropdownselect-input-wrapper {
      height: auto;
    }
  }
      
  .staff-input {
      
    input {
      padding: .4rem .4rem .4rem 1.2rem;
      
      & + div {
        padding: 0 .4rem .4rem 1.2rem;
      }
    }
  }
      
  .sms-box {
    width: 100%;
    max-width: 28.8rem;
  }
}