@media (max-width: 1365.98px) {

  .content-box {
    margin-left: 0;
  }
}

@media (max-width: 1023.98px) {

  #app {
    height: 100%;
  }
      
  .mobile-doc {
    padding: 0 0 1.2rem 0;
      
    .tabs-container {
      padding: 0 2.4rem;
      background-color: $black-07;
      
      .tabs-item {
        padding-top: 0;
      
        &.notification-new {
      
          &::before {
            top: 0;
          }
        }
      }
      
      ul div:nth-of-type(2) {
        padding-bottom: 1.2rem;
      }
    }
      
    &.has-fixed-button {
      padding-bottom: 1.2rem;
    }
  }
      
  .mobile-table {
    padding: 1.2rem 2.4rem;
      
    .tabs-bar {
      margin: 0 -2.4rem;
      padding: 0 2.4rem;
      border-bottom: 1px solid $black-05;
    }
      
    tbody {
      padding: .8rem 0 0;
    }
      
    tr {
      flex-direction: column;
      padding: 1.6rem 0;
      border: none !important;
    }
      
    td {
      padding: 0;
    }
      
    .tags-wrapper {
      display: flex;
      margin-left: -2.4rem;
      margin-right: -2.4rem;
      margin-bottom: 0;
      padding-right: 1.2rem;
      padding-left: 2.4rem;
      overflow-x: auto;
    }
      
    .tags-item {
      flex-shrink: 0;
    }
      
    .table-td-icon-position {
      top: 1.8rem;
    }
  }
}

 @media (max-width: 575.98px) {

  .mobile-doc {

    .tabs-container {
      padding: 0 1.6rem;
      overflow-x: auto;
    }
      
    &.has-fixed-button {
      padding-bottom: 7.6rem;
    }
  }
      
  .mobile-table {
    padding: 1.2rem 1.6rem 7.6rem;
      
    .tabs-bar {
      margin: 0 -1.6rem;
      padding: 0 1.6rem;
      
      > div {
        display: flex;
        margin: 0 -1.6rem;
        padding: 0 1.6rem;
        overflow-x: auto;
      }
    }
      
    .tags-wrapper {
      margin-right: -1.6rem;
      padding-right: .4rem;
    }
  }
}

@media (max-width: 1000px) {

  .watermark {
    min-height: 50rem;
    
    &::before {
      font-size: 19vw;
    }
  }
}