@media (max-width: 1365.98px) {

  .sidebar {
    margin-left: -22.4rem;
    overflow-y: visible;
    transition: margin-left .3s;
      
    &.open {
      margin-left: 0;
    }
      
    &:hover {
      overflow-x: visible;
    }
  }
}

@media (max-width: 1023.98px) {

  .sidebar {
    width: 24.8rem;
    margin-left: -28.8rem;
      
    & > nav {
      width: 24.7rem;
    }
  }
      
  .dark-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($gray-base, .8);
    z-index: 10;
      
    & + .content-box .fixed-button {
      z-index: 9;
    }
  }
}

@media (max-width: 575.98px) {

  .notification-sidebar {
    width: 100vw;
    margin-right: calc(-100vw - .8rem);
      
    h3 {
      font-size: 2.1rem;
      line-height: 3.2rem;
    }
      
    .tabs-container {
      
      &::after {
        top: 10.4rem;
      }
    }
      
    .tabs-item {
      padding: 1.2rem 1rem;
      
      &.notification-new {
      
        &::before {
          right: .2rem;
        }
      }
    }
      
    .notification-card {
      
      h4 {
        font-size: 1.4rem;
        line-height: 2rem;
      
        + span {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}