@media (max-width: 575.98px) {

  .doc-v-stepper {

    .v-stepper-step {
      padding-left: 0;
      
      .v-stepper-date {
        position: relative;
        top: 0;
      }
    }
  }
      
  .primary-v-stepper {
      
    &.can-delete-step {
      width: calc(100% - 2.4rem);
    }
      
    .v-stepper-step,
    .v-stepper-content-wrapper {
      padding-left: 1.2rem;
    }
      
    .v-stepper-content {
      padding-right: 1.2rem;
    }
      
    .v-stepper-heading-icon::after {
      right: 1.6rem;
    }
  }
}