@media (max-width: 1023.98px) {

  .table-collapse {
      
    .collapse-heading-wrapper,
    .table {
      min-height: 9.6rem;
    }
      
    &.employee-structure {
      
      .collapse-heading-wrapper,
      .table {
        min-height: 8rem;
      }
    }
      
    .table:not(.table-notification-structure) {
      padding: 1.6rem 1.6rem 1.6rem 4.8rem;
      margin-left: 0;
    }
      
    td {
      padding: 0 0 .4rem 0;
    }
      
    .table-td-icon-position {
      top: 0;
    }

    .collapse-heading-wrapper {
      height: auto;
      display: block;
      
      & > .table td:first-of-type,
      & td {
        padding-left: 0;
      }
    }
      
    .closed,
    & > .table {
      border-bottom: 1px solid $black-05;
    }
      
    .collapse-heading-icon {
      top: 1.6rem;
      left: .8rem;
    }
      
    .collapse-dropdown-element {
      padding-left: 0;
      
      & > .table:last-child {
        border-bottom: 1px solid $black-05;
      }
    }
      
    &-notification {
      
      .collapse-heading-wrapper,
      .table {
        min-height: auto;
      }
      
      td:first-child {
        padding-right: 1.6rem;
      }
      
      .collapse-heading-icon {
        left: 0;
        margin-left: .8rem
      }
      
      .table-td-icon-position {
        top: .8rem;
        right: .4rem;
      }
      
      tr {
        padding: 1.2rem 1.2rem 1.2rem 3.6rem;
      }
    }
  }
      
  .table-notification-structure-list {
      
    .table-td-icon-position {
      top: .8rem;
      right: .4rem;
    }
      
    tr {
      padding: 1.2rem;
      margin-bottom: 1.6rem;
      border: none;
    }
      
    td {
      padding: 0 0 .4rem 0;
      
      &:first-child {
        padding-right: 1.6rem;
      }
    }
  }
      
  .table:not(.table-documents-card) {
      
    table {
      display: block;
      
      tr.active {
        background-color: transparent;
      }
    }
      
    thead {
      display: none;
    }
      
    tbody {
      display: block;
      
      tr {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border-top: .1rem solid $black-05;
      
        &:hover:not(.selected) {
          background-color: transparent;
        }
      }
      
      tr:first-of-type {
        border-top: none;
      }
      
      td {
        display: block;
      }
    }
      
    &.mobile-table-notification {
      
      tr:first-of-type {
        padding-top: 0;
      }
    }
  }
      
  .table.table-notification-history {
      
    table {
      display: flex;
      flex-direction: row;
    }
      
    thead, tbody, tr {
      display: flex;
      flex-direction: column;
    }
      
    thead {
      min-width: 7.2rem;
      border-bottom: 1px solid $black-05;
    }
      
    th {
      border-right: none;
    }
      
    td:not(:last-child) {
      border-bottom: none;
    }
  }
      
  .table-tr-indent {
    padding-top: 1.6rem;
    padding-bottom: .8rem;
  }
      
  .table-td-indent {
    padding: 0 3.2rem 1.6rem 0 !important;
  }
      
  .table-td-icon-indent {
    padding-top: 0 !important;
    padding-right: 0 !important;
  }
      
  .table-td-icon-position {
    position: absolute;
    right: 0;
    top: 1.6rem;
  }
      
  .mobile-table-doc {
      
    tbody {
      padding: .8rem 2.4rem 0;
      
      tr:first-of-type {
        padding-top: 1.6rem;
      }
      
      .mobile-table-status {
        width: 6rem;
      }
    }
  }
      
  .table-with-checkbox {
      
    tbody {
      padding-bottom: 0;
      
    }

    tr {
      padding-left: 4rem;

      td:first-of-type {
      
        position: absolute;
        top: .5rem;
        left: -1.2rem;
      }
    }
  }
      
  .table-bottom-panel,
  .table-bottom-panel-card {
      
    .checkbox-wrapper {
      width: 2rem;
    }
  }
      
  .table-bottom-panel-card {
    width: calc(100% + 4.8rem);
    margin-left: -2.4rem;
    margin-right: -2.4rem;
  }
      
  .file-list {
      
    td {
      width: calc(100% - 8.2rem);
    }
      
    tr {
      
      .file-list-status-cell {
        padding-top: .4rem;
      }
      
      .file-list-button-cell {
        position: absolute;
        top: 0;
        right: 4.2rem;
        width: auto;
      
        &:last-child {
          right: 0;
        }
      }
      
      td {
      
        &.file-list-image-cell {
          display: none;
        }
      }
    }
  }
      
  .dropzone-list {
      
    .file-list-number-cell {
      position: absolute;
      top: 0;
      left: 0;
      display: unset;
      width: auto;
    }
      
    tr {
      
      & + tr {
        border-top: none !important;
      }
      
      .file-list-file-cell,
      .file-list-status-cell {
        padding-left: 4.4rem;
      }
    }
  }
}

@media (max-width: 767.98px) {

  .template-table {

    .table-td-indent {
      padding: 0 1.2rem 1.6rem 0 !important;
    }
      
    .table-td-icon-indent {
      padding-left: 0;
    }
  }
}

@media (max-width: 575.98px) {

  .mobile-table-doc {

    tbody {
      padding: .8rem 1.6rem 0;
    }
  }
      
  .table-with-checkbox {
      
    tbody {
      padding-bottom: 0;
    }
      
    tr {
      padding-left: 3.2rem;
    }
  }
      
  .table-bottom-panel-card {
    width: calc(100% + 3.2rem);
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
      
  .register-documents-card {
      
    .table-td-icon-position {
      top: auto !important;
      bottom: 5.2rem;
    }
  }
}

@media (min-width: 1024px) {

  .list {

    .file-list.table table {
      margin-top: -2.1rem;
    }
  }
      
  .file-list.table table {
    margin-top: -1.6rem;
  }
}