@import '../variables/themes/nova';

$brand-color: $secondary-02;

@media (max-width: 575.98px) {

  .sidebar {
    border-right: none;
    margin-left: -100%;
  }

  .mobile-page-header {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .light-box-overlay.sm,
  .light-box-overlay.md,
  .light-box-overlay.lg {
    margin-right: -.8rem;

    .light-box-content {
      width: 100%;
    }
  }

  .tooltip {

    &:not(.mobile-tooltip) {
      display: none;
    }

    &.mobile-tooltip {
      width: 60% !important;
      height: auto !important;
    }
  }

  .mobile-tabs {

    .tabs-container {
      padding-right: 1.6rem !important;
      padding-left: 1.6rem !important;
      border-bottom: 1px solid $black-05;
    }
  }

  .mobile-filter {
    background-color: transparent;
    box-shadow: none;
    padding: 1.6rem !important;
  }

  .table.mobile-table {

    & tbody {

      tr {
        margin-left: 1.6rem !important;
        margin-right: 1.6rem !important;
      }
    }
  }

  .main-logo {
    height: 1.6rem;
  }

  .notifications-top {
    width: calc(100% - 5.6rem);
  }
}

@media (max-width: 767.98px) {

  .mobile-tabs {
    padding-left: 0;
    padding-right: 0;

    .tabs-container {
      padding-right: 3.2rem;
      padding-left: 3.2rem;
      border-bottom: 1px solid $black-05;
    }
  }

  .mobile-filter {
    background-color: transparent;
    box-shadow: none;
    padding: 2.4rem 3.2rem;

    .form {

      dt {
        display: none;
      }

      dd {
        padding-left: 0;
      }
    }
  }

  .table.mobile-table {

    & thead, & colgroup {
      display: none;
    }

    &.table-border-spacing {
      border-spacing: 0;
      margin-top: 0;
    }

    & tbody {
      display: block;

      tr:hover {
        background-color: transparent;
      }

      tr {
        position: relative;
        display: block;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        margin-left: 3.2rem;
        margin-right: 3.2rem;
        border-bottom: 1px solid $black-05;

        &.package-list {
          display: flex;
          flex-direction: column-reverse;

          td.mobile-status {
            display: flex;
            justify-content: space-between;
          }
        }

        td {
          display: block;
          padding: 0;

          &.with-button {
            padding: 0;
            position: absolute;
            top: 2.4rem;
            right: 0;
          }

          &.mobile-date-cell {
            color: $black-03;
            font-size: 1.2rem;
            line-height: 1.6rem;
          }

          &.mobile-name-cell {
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
          }

          &.mobile-post-name {
            color: $black-03;
            font-size: 1.2rem;
            line-height: 1.6rem;
          }

          &.number-cell {
            color: $gray-dark;
          }
        }
      }
    }

    &.mobile-table-lightbox {

      & tbody {

        tr {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  .light-box-header {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .mobile-list {

    dt {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $black-03;
      padding-bottom: .4rem;
      padding-top: 0;
      width: 100% !important;
    }

    dd {
      padding-left: 0 !important;
      padding-top: 0 !important;
      width: 100% !important;

      &:not(:last-of-type) {
        padding-bottom: 1.6rem;
      }
    }

    &.form {

      .input-wrapper {
        width: 100%;
        margin-top: .4rem;
      }
    }
  }

  .reg-page-title.auth-height {
    min-height: 15rem;
  }

  .tabs-bar {
    padding: 0;
  }

  .button-wrapper {

    &:hover {
      border-color: $black-05;
    }

    &.blank:hover {
      border-color: transparent;
      color: $secondary-02;
    }

    &.danger:hover {
      background-color: $error-02;
      border-color: $error-02;
    }

    &.brand-color:hover {
      background-color: $brand-color;
      border-color: transparent;
    }
  }

  .modal-cross {
    display: none;
  }

  .modal-header, .modal-footer {
    padding: 1.6rem;
  }

  .information-header-text {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  .slider-header {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}

@media (min-width: 768px) {

  .txt-nowrap {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1130px) {

  header .user-name.more {
    max-width: 32.8rem;
  }
}

@media (min-width: 1281px) {

  .sidebar {
    margin-left: 0;
  }

  .document-body {
    padding-left: $sidebar-width;
  }

  .hamburger {
    display: none !important;
  }

  .footer-wrapper {
    left: 22.4rem;
  }
}
