.progressbar {
  &-wrapper {
    background: var(--progressbar-bg);
    border-radius: 4px;
    height: 8px;
    position: relative;
overflow: hidden;
    &.warning .progressbar-fill {
      background: $brand-warning;
    }

    &.danger .progressbar-fill {
      background: $brand-danger;
    }
  }

  &-fill {
    background: var(--brand-color);
    border-radius: 4px;
    transition: width 0.25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: bold;
    color: $white;
    position: absolute;
    height: 100%;
    left: 0;
  }
}
