@import 'variables';


.box-8 {
  border-radius: .8rem;
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}

.box-16 {
  background-color: $white;
  border-radius: 1.6rem;
  border: .2rem solid transparent;
  margin-bottom: 2.4rem;
  padding: 1.6rem;

  &.box-shadow {
    box-shadow: 0 .2rem .7rem rgba(#191919, .25);
  }

  &.box-default {
    border-width: .1rem;
    border-color: $black-05;
  }

  &.box-success {
    border-color: $primary-02;
  }
}


/* Stat box
----------------------------------------------------------------------------- Stat box */

.stat-box {

  .box:hover {
    box-shadow: $shadow;
    transition: box-shadow .3s;
  }
}

.stat-full > li {
  margin: .1rem 0 0;
  padding-left: 2rem;
  position: relative;

  &::before {
    content: " ";
    display: block;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: .8rem;
  }

  &.success::before {
    background: $brand-primary;
  }

  &.warning::before {
    border-color: $brand-warning;
  }

  &.danger::before {
    border-color: $brand-danger;
  }
}

.border-success .k-upload {
  border-color: $brand-primary;
}

.border-danger .k-upload {
  border-color: $brand-danger;
}
