@import 'variables';

/* browsers page
----------------------------------------------------------------------------- */

.cart-link {
  border-radius: .8rem;
  border: 1px solid $black-05;
  width: 14rem;
  height: 14rem;

  &-plug {
    border: none;
    background-color: transparent;
  }
}
