.advice {

  .k-tabstrip > .k-tabstrip-items {
    background-color: transparent;

    .k-item {

      .k-link {
        padding: .8rem;
      }
      margin-right: 2rem;
    }
  }

  .k-tabstrip > .k-content {
    overflow: initial;
  }
}