@include breakpoints-max(lg) {

  .toolbar-box.fixed .toolbar::before {
    background: none;
  }
}

@include breakpoints-max(md) {

  .toolbar-box.xs-toolbar-static {
    position: static !important;
  }

  .m-toolbar {
    padding: 1rem;

    .menu-h {
      text-align: center;

      .button {
        margin: 0 .4rem;
      }

      .level-1 {
        float: none;
        display: inline-block;
      }
    }
  }
}
  