.v-stepper {
  &-wrapper {
    counter-reset: step;
  }

  &-icon {
    background-color: var(--v-stepper-sign-bg);
    border-radius: 100%;
    border: 2px solid transparent;
    margin: 19px 0;
    width: 24px;
    height: 24px;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 7px rgba(31, 31, 34, 0.08);
    z-index: $zindex-v-stepper-icon;

    &::before {
      color: var(--v-stepper-sign-color);
      font-style: normal;
      font-size: 14px;
      text-transform: none;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 24px;
      line-height: 21px;
      z-index: $zindex-v-stepper-icon-before;
      counter-increment: step;
      content: counter(step);
    }

    &::after {
      font-family: 'novicon', sans-serif;
      font-size: 20px;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 24px;
      color: $white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &-step {
    padding-left: 32px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: var(--collapse-form-bg);
    display: flex;
    justify-content: flex-start;
    position: relative;
    border: 1px solid transparent;

    &:last-child .v-stepper-line {
      border-left: 0;
      height: 0;
    }

    &.active {
      border: 1px solid var(--collapse-form-active-border);
    }

    &.disabled {
      background-color: var(--collapse-form-bg) !important;

      .v-stepper-title, .v-stepper-status {
        color: var(--collapse-form-disabled-color) !important;
      }

      .v-stepper-heading-icon {
        color: var(--collapse-form-disabled-icon-color) !important;
      }
    }

    &:hover:not(.active):not(.disabled) {
      background-color: var(--collapse-form-hover-bg);
    }

    &.danger,
    &.success {
      .v-stepper-icon::before {
        color: var(--v-stepper-sign-active-color);
      }
    }

    &.danger, &.success  {
      .v-stepper-icon.sign-stop, .v-stepper-icon.sign-check {
        &::before {
          visibility: hidden;
        }
      }
    }

    &.danger .v-stepper-icon.sign-stop::after {
      content: '\e96b';
    }

    &.success .v-stepper-icon.sign-check::after {
      content: '\e96c';
    }

    &.danger {
      .v-stepper-status {
        color: $brand-danger;
      }

      .v-stepper-icon {
        background-color: var(--v-stepper-sign-danger-bg);
      }

      .v-stepper-circle {
        background-color: var(--v-stepper-sign-danger-bg);
        border-color: var(--v-stepper-sign-danger-bg);
      }

      &.stop .v-stepper-circle {
        &::after {
          content: "\e96b";
        }
        &:before {
          visibility: hidden;
        }
      }
    }

    &.success {
      .v-stepper-status {
        color: var(--brand-color);
      }

      .v-stepper-icon {
        background-color: var(--brand-color);
      }

      .v-stepper-circle {
        background-color: var(--brand-color);
        border-color: var(--brand-color);
      }

      &.check .v-stepper-circle {
        &::after {
          content: "\e96c";
        }
        &:before {
          visibility: hidden;
        }
      }
    }

    &.progress {
      .v-stepper-icon {
        background-color: var(--v-stepper-sign-active-bg);
        border: 2px solid var(--brand-color);
        &:before {
          color: var(--brand-color);
        }
      }

      .v-stepper-circle {
        background-color: var(--brand-color);
        border-color: var(--brand-color);
      }
    }

    &.warning {
      .v-stepper-status {
        color: $accent-02;
      }

      .v-stepper-icon {
        background-color: var(--v-stepper-sign-active-bg);
        border: 2px solid $brand-warning;
        &:before {
          color: $brand-warning;
        }
      }

      .v-stepper-circle {
        background-color: $brand-warning;
        border-color: $brand-warning;
      }
    }

    &:not(.success):not(.danger):not(.warning) .v-stepper-status {
      color: $gray-dark;
    }
  }

  &-sign {
    position: relative;
    width: 24px;
  }

  &-circle {
    border-radius: 100%;
    background-color: $black-05;
    margin: 1.7rem 0;
    width: 2rem;
    height: 2rem;
    position: relative;
    text-align: center;
    z-index: $zindex-v-stepper-circle;
    color: $white;
    &::before {
      font-family: "Roboto";
      font-style: normal;
      font-size: 1.4rem;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2rem;
      line-height: 2rem;
      z-index: $zindex-v-stepper-circle-before;
      counter-increment: step;
      content: counter(step);
    }
    &::after {
      display: inline-block;
      font-family: 'novicon' !important;
      speak: none;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1.5;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &-line {
    border-left: 2px solid var(--v-stepper-line-border);
    top: 48px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    height: calc(100% - 14px);
    z-index: $zindex-v-stepper-line;
    &.success,
    &.progress {
      border-left-color: var(--brand-color);
    }
    &.danger {
      border-left-color: var(--v-stepper-sign-danger-bg);
    }
    &.warning {
      border-left-color: $brand-warning;
    }
  }

  &-content-wrapper {
    width: calc(100% - 24px);
  }

  &-heading {
    height: 62px;
    line-height: 62px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 32px;
  }

  &-title {
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 12px;

    + div {
      display: flex;
    }
  }

  &-status {
    margin-right: 12px;
  }

  &-heading-icon {
    color: var(--collapse-icon-color);
    position: relative;
    width: 20px;

    &::after {
      content: '\e908';
      font-family: 'novicon', sans-serif;
      font-size: 20px;
      vertical-align: middle;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(0deg);
      transition: transform 0.3s;
    }

    &.open::after {
      transform: rotate(-180deg);
    }
  }

  &-content {
    border-top: 1px solid var(--collapse-form-active-border);
    padding: 24px 32px 24px 0;
    margin-left: 24px;
  }

  &-ending {
    border-top: 1px solid var(--collapse-form-active-border);
    padding: 18px 32px 18px 0;
    margin-left: 24px;
    text-align: right;
  }
}
