@import 'variables';

.border-success {
  border-color: $brand-primary !important;
}

.border-danger {
  border-color: $brand-danger;
}

.input-element-disabled {

  .input-element-wrapper {
    border-color: $black-05 !important;
    background-color: $black-07 !important;
    color: $black-03 !important;

    * {
      color: $black-03 !important;
      cursor: not-allowed !important;
    }
  }
}

.numeric-text-box-input-wrapper > input[class*="input"] {
  padding: 0 1.2rem;
}

.checkbox-wrapper.txt-larger {
  line-height: 2rem;
}

.input-group-wrapper {

  .masked-wrapper {
    width: auto;

    &:hover + .masked-wrapper {
      .masked-input-wrapper {
        border-left-color: $black-02;
      }
    }

    &-focus + .masked-wrapper .masked-input-wrapper {
      border-left-color: $black-02;
    }
  }
}

.width-265 {
  width: 26.5rem;
}

.width-126 {
  width: 12.6rem;
}

.width-160 {
  width: 16rem;
}

.width-290 {
  width: 29rem;
}

@include breakpoints-max(lg) {

  .list {

    dt {
      float: none;
      font-size: 1.4rem;
      font-weight: 500;
      width: 100% !important;

      > label {
        font-weight: 500;
      }
    }

    dd {
      padding-left: 0 !important;
    }

    &.list-gray-dt {

      dd {
        min-height: unset;
      }

      dd:not(:last-child) {
        margin-bottom: 1.2rem;
      }

      dt {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: $black-03;
        padding-top: 0;
        padding-bottom: 0;

        & > label {
          font-weight: 400;
          margin-top: 0;
        }
      }
    }
  }
}

@include breakpoints-max(md) {

  .input-element-wrapper,
  .dropdownselect-input-wrapper,
  .multiselect-input-wrapper {
    max-width: 31rem;
  }

  .masked-input-wrapper {
    max-width: 20rem;
  }

  .datepicker-icons-wrapper:empty {
    display: none;
  }

  .list-gray-div {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $black-03 !important;
  }

  .form.list dt {
    float: none;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100% !important;

    & > label {
      margin-top: 0;
      font-weight: 400;
    }
  }
}

@include breakpoints-max(sm) {

  .sm-list-form {
    display: block;

    dt {
      float: none;
    }

    .label-dd {
      margin-bottom: .4rem;
    }

    dd {
      margin-bottom: 1.6rem;
    }

    .label-dd-subtitle {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $gray-dark;
    }
  }
}
