@import 'variables';

@include breakpoints-max(md) {

  .light-box-body {

    .pagination-label-options,
    .pagination-label-info {
      display: none;
    }
  }

  .unfixed-footer {

    .light-box-wrapper-bg {
      overflow-y: auto;
    }

    .light-box-content {
      height: auto;
    }

    .v-stepper-status:empty {
      display: none;
    }
  }
}
