@import 'variables';

.link {
  color: $link-color;

  [class^="prodicon-"], [class*=" prodicon-"] {
    color: $link-color;
  }

  &:hover {
    color: $link-hover;

    [class^="prodicon-"], [class*=" prodicon-"] {
      color: $link-hover;
    }
  }

  .prodicon-link::before {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.link-with-icon {

  .link {
    margin-top: -.2rem;
  }

  &:hover {

    .link {
      color: $primary-02;
    }
  }
}
