@include breakpoints-max(md) {

  .modal-window.lg {
    width: 60rem;

    .modal-body {
      min-height: 29rem;
    }
  }
}

@include breakpoints-max(sm) {

  .modal-window {

    .modal-body {
      padding: 1.6rem;
    }
  }

  .modal-footer {

    .list-h {

      li {
        width: 100%;

        &:first-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}
