@import 'variables';

.notifications-wrapper {
  max-width: 62.4rem;
}

.notification-sidebar {
  right: 44rem;
}

.notifications-here {
  position: absolute;
}

.notifications-item time {
  position: absolute;
  bottom: .8rem;
  right: .8rem;
}

.notifications-actual {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  
  .notifications-item {
    align-items: flex-start;
    justify-content: start;
    padding: .8rem;

    > .notifications-icon {
      padding: .8rem 0;

      &::before {
        padding-left: .8rem;
      }

      &::before:empty {
        display: none;
      }
    }

    .notifications-content {
      border-left-width: 0;
      padding: .8rem;
      width: auto;
    }

    .notifications-icon-close {
      margin-right: 0;
      margin-left: auto;
    }
    
    .prodicon-link {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    .notifications-icon-close.prodicon-clear::before {
      content: "\e995";
      color: $black-04;
      font-size: 2rem;
      background: none;
      height: auto;
      width: auto;
    }
  }
}
@include breakpoints-max(md) {

  // notifications тот который snackbar - max768

  .notifications-wrapper {
    width: 100%;
    max-width: 34rem;
  }

  .notifications-actual {
    max-width: 100%;
  }

  .notifications-wrapper.notifications-top:not(.notifications-here) {
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .notifications-wrapper.notifications-here {
    left: 50%;
    max-width: unset;
    transform: translateX(-50%);
  }
}

