.tabs-item .count:not(.notifications-tag) {
  font-size: .9rem;
  min-width: 1.6rem;
  line-height: 1.6rem;
}

.tabs-item .count.notifications-tag {
  height: .8rem;
  width: .8rem;
  min-width: .8rem;
  right: .8rem;
  top: .8rem;
}

@include breakpoints-max(md) {
  
  .tabs-center {

    .tabs-bar {
      justify-content: center;
      margin-bottom: .8rem;
      border-bottom: 1px solid $black-05;
    }
  }
}
