@import '../../../variables/themes/nova';

$primary-07: #32d5ae;
$primary-08: #19464c;
$black-10: #35373b;
$border: $black-06;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
  ld: 1680px,
) !default;

@function breakpoints ($breakpoint) {
  @return map-get($map: $grid-breakpoints, $key: $breakpoint);
}

@mixin breakpoints-max ($breakpoint) {
  @media (max-width: (breakpoints($breakpoint) - .02)) {
    @content;
  }
}

@mixin breakpoints-min ($breakpoint) {
  @media screen and (min-width: breakpoints($breakpoint)) {
    @content;
  }
}
