// new UI colors
$black-01: #1f1f22; // Graphite 01
$black-02: #565b62; // Graphite 02
$black-03: #7d838a; // Asphalt 01
$black-04: #b2b8bf; // Asphalt 02
$black-05: #d0d7dd; // Asphalt 03
$black-06: #e4e8eb; // Asphalt 04
$black-07: #f2f4f7; // Asphalt 05
$black-08: #fbfbfd;
$white: #fff;

$shadow-level-1: 0 .1rem .3rem 0 rgba($black-01, 0.09);
$shadow-level-2: 0 .2rem .7rem 0 rgba($black-01, 0.09);
$shadow-level-2-top: 0 -.2rem .7rem 0 rgba($black-01, 0.09);
$shadow-level-3: 0 .6rem 1rem .2rem rgba($black-01, 0.09);
$shadow-level-4: 0 1.6rem 2.4rem 0 rgba($black-01, 0.09);
$shadow-level-5: 0 .2rem .7rem 0 rgba($black-01, 0.25);
$shadow-level-5-top: 0 -.2rem .7rem 0 rgba($black-01, 0.25);
$shadow-menu-top-bar: 0 .1rem .6rem 0 rgba(48, 53, 97, 0.15), 0 .2rem 3rem 0 rgba($black-01, 0.06);

//shadow for all
$shadow: 0 0 1.6rem rgba($black-01, 0.1);

$gray-lighter: #fafafa;
$gray-2: #f2f4f7;
$gray-light: #f5f5f5;
$gray: #e5e5e5;
$gray-dark: #949494;
$gray-darker: #333;
$gray-base: #000;

// for rgba
$base-9: rgba($black-01, 0.9);
$base-7: rgba($black-01, 0.7);
$base-5: rgba($black-01, 0.5);
$base-56: rgba($black-01, 0.56);
$base-3: rgba($black-01, 0.3);
$base-025: rgba($black-01, 0.025);
$base-21: rgba($black-01, 0.21);
$base-02: rgba($black-01, 0.02);
$base-2: rgba($black-01, 0.2);
$base-15: rgba($black-01, 0.15);
$base-13: rgba($black-01, 0.13);
$base-1: rgba($black-01, 0.1);
$base-09: rgba($black-01, 0.09);
$base-08: rgba($black-01, 0.08);
$base-06: rgba($black-01, 0.06);
$base-04: rgba($black-01, 0.04);
$base-03: rgba($black-01, 0.03);

$base-action-focus: rgba(245, 245, 245, 0.3);
$base-focus: rgba(78, 163, 30, 0.4);
$base-gantt: rgba(130, 130, 130, 0.25);

$reverse: $white;
$reverse-85: rgba($reverse, 0.85);
$reverse-8: rgba($reverse, 0.8);
$reverse-45: rgba($reverse, 0.45);
$reverse-3: rgba($reverse, 0.3);
$reverse-0: rgba($reverse, 0);

// цвета текста
$text-color: $black-01;
$text-secondary: $gray-darker;
$text-reverse: $white;

// цвет фона
$body-bg: $white;
$body-reverse: $black-01;

// наследование и переменные для модалок
$overlay-color: $gray-darker;
$overlay-bg: $black-01;

$window-border-radius: 2.6rem 2.6rem 2.4rem 2.4rem;
$container-padding: 0;
$top-border-radius: 1.6rem 1.6rem 0 0;
$bottom-border-radius: 0 0 1.6rem 1.6rem;
$titlebar-padding: 2.4rem 3.2rem;

%overlay {
  background: $overlay-bg;
  opacity: 0.56 !important;
}

%window-title {
  font-size: 2.1rem;
  line-height: 3.2rem;
  font-weight: 500;
}

%window-actions {
  position: absolute;
  top: 3rem;
  right: 3.2rem;
}

%window-position {
  margin-bottom: 6.4rem;
}

//disabled для грида
%tr-disabled {
  opacity: .65;
  color: inherit !important;
  background-color: inherit !important;
  border-color: inherit !important;
}

// миксин для иконок
@mixin icon-size($width, $height) {
  width: $width;
  height: $height;
}

// миксин для квадратных штук
@mixin square-size($i) {
  height: $i;
  width: $i;
}

$disabled-color: $black-03;
$disabled-bg: rgba(228, 232, 235, 0.3);
$disabled-border: $black-05;

$btn-border-hover: $black-01;

$zindex-notifications-third-item: -2;
$zindex-notifications-second-item: -1;
$zindex-tour-modal-arrow: -1;
$zindex-draggable: 0;
$zindex-button-group-active: 0;
$zindex-button-group-button: 1;
$zindex-button-group-focus-2: 1;
$zindex-lightbox-cross: 1;
$zindex-slider-mark-container: 1;
$zindex-slider-hidden-element: 1;
$zindex-statusbar-icon: 1;
$zindex-tabs-arrow: 1;
$zindex-v-stepper-icon-before: 1;
$zindex-v-stepper-circle-before: 1;
$zindex-v-stepper-line: 1;
$zindex-input-group-element: 1;
$zindex-button-group-focus: 2;
$zindex-calendar: 2;
$zindex-slider-handle: 2;
$zindex-suggestion-list: 2;
$zindex-v-stepper-icon: 2;
$zindex-v-stepper-circle: 2;
$zindex-h-stepper-fixed: 2;
$zindex-button-group-hover: 3;
$zindex-lightbox-footer-fixed: 39;
$zindex-lightbox-alert-overlay: 40;
$zindex-modal-alert: 40;
$zindex-lightbox-heading-fixed: 60;
$zindex-lightbox-alert: 60;
$zindex-sidebar: 90;
$zindex-dropdown: 91;
$zindex-header-fixed: 92;
$zindex-loader-logo: 100;
$zindex-sticky-panel: 300;
$zindex-drawer-overlay: 400;
$zindex-drawer: 401;
$zindex-drawer-bars: 401;
$zindex-lightbox-controls: 500;
$zindex-lightbox-wrapper-bg: 500;
$zindex-lightbox-window: 500;
$zindex-modal: 500;
$zindex-modal-window: 500;
$zindex-loader-container: 500;
$zindex-lightbox-overlay: 600;
$zindex-notifications: 700;
$zindex-tour-overlay: 700;
$zindex-tour-modal: 701;
$zindex-tour-modal-active-element: 701;
$zindex-tooltip: 900;
$zindex-loader-fullscreen: 910;
$zindex-dropdown-mobile-wrapper: 911;
$zindex-lightbox-controls-mobile: auto;
