.textarea {
  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-input {
    @extend %input;
    width: 100%;
    resize: none;
    height: 120px;
    font-family: inherit;
    padding: 8px 12px;

    &:not(.focused):not(.disabled).danger {
      border-color: var(--input-border-error);
    }

    &.focused {
      @extend %input-focused;
    }

    &.disabled {
      @extend %input-disabled;
    }

    &::placeholder {
      @extend %input-placeholder;
    }

    &:disabled {
      -webkit-text-fill-color: $black-03;
    }

    &.auto-resize {
      scrollbar-width: none;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
