.button-group {

  &-wrapper {

    .button-wrapper {
      border-radius: 0;
      min-width: 80px;
      position: relative;
      padding: 7px 23px;
      z-index: $zindex-button-group-button;

      &.first {
        border-radius: $input-border-radius 0 0 $input-border-radius;
      }

      &.last {
        border-radius: 0 $input-border-radius $input-border-radius 0;
      }

      &:not(.first) {
        margin-left: -1px;
      }

      &.active,
      &:active {
        background-color: var(--brand-color);
        border-color: var(--brand-color);
        color: $white;
        font-weight: 500;
        z-index: $zindex-button-group-active;
      }

      &:focus {
        border-color: $focus-border;
        z-index: $zindex-button-group-focus-2;

        + .button-wrapper:not(:hover) {
          border-left-color: $focus-border;
          transition: border-left-color .2s;
        }
      }

      &:not(.active):not(:focus):hover {
        border-color: var(--button-group-border-hover);

        + .button-wrapper {
          border-left-color: var(--button-group-border-hover);
          transition: border-left-color .2s;
        }
      }
    }

    &[type="checkbox"] {

      .button-wrapper {

        &.active:hover {
          background-color: var(--brand-hover-color);

          &:not(:focus) {
            border-color: var(--brand-hover-color);
          }
        }
      }
    }
  }

  &-buttons-wrapper {

    &.disabled {
      background-color: transparent !important;

      .button-wrapper {
        cursor: default !important;
        color: var(--text-disabled-color) !important;
        pointer-events: none;
        border-color: var(--button-group-border-disabled);
        background-color: var(--button-group-bg-disabled);

        &.active {
          background-color: var(--button-group-bg-selected-disabled);
          border-color: var(--button-group-bg-selected-disabled);
          color: var(--text-button-group-disabled-color) !important;
        }
      }
    }
  }

  &-flex {

    .button-group-buttons-wrapper {
      display: flex;

      .button-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  &-secondary {

    .button-group-buttons-wrapper {

      .button-wrapper {
        min-width: auto;
        padding: 7px;

        [class^="prodicon-"] {
          font-size: 16px;
        }

        &.active,
        &:active {
          background-color: var(--button-bg-active);
          color: var(--button-group-secondary-color);
          font-weight: normal;

          [class^="prodicon-"] {
            color: var(--button-group-secondary-color);
          }

          &:not(:focus) {
            border-color: var(--button-group-secondary-border);
          }
        }

        &:not(.active):not(:focus):hover {
          border-color: var(--button-border-hover);

          + .button-wrapper {
            border-left-color: var(--button-border-hover);
            transition: border-left-color .2s;
          }
        }
      }

      &.disabled {

        .button-wrapper {

          [class^="prodicon-"] {
            color: var(--text-disabled-color) !important;
          }

          &.active {
            color: var(--text-disabled-color) !important;
            background-color: var(--button-group-secondary-bg-disabled);
            border-color: var(--button-group-secondary-bg-disabled);
          }
        }
      }
    }

    &[type="checkbox"] {

      .button-wrapper.active {

        &:hover {
          background-color: var(--button-group-secondary-bg-hover);

          &,
          &:not(:focus) {
            border-color: var(--button-group-secondary-border-hover);
          }

          + .button-wrapper {
            border-left-color: var(--button-group-secondary-border-hover);
            transition: border-left-color .2s;
          }
        }
      }
    }
  }
}
