@mixin checkbox-border {

  &::before, &::after {
    border-color: $primary !important;
  }
}
@mixin checkbox-bg {

  &::before, &::after {
    background-color: $txt-primary !important;
  }
}


.checkbox-input {

  &:focus + .checkbox-label {
    @include checkbox-border;
  }

  + .checkbox-label {
    line-height: 2.4rem;

    &::before, &::after {
      font-size: 1.2rem;
      top: .6rem;
    }

    &:hover {
      @include checkbox-border;
    }
  }

  &:checked {

    + .checkbox-label {

      &:focus {
        @include checkbox-border;
      }

      &:hover {
        @include checkbox-bg;
      }

      @include checkbox-bg;
    }
  }

  &:disabled {

    &:checked {

      + .checkbox-label {

        &::after {
          background-color: $disabled-control-bg !important;
          color: $white !important;
        }
      }
    }
  }
}
