@import '../variables/_base.scss';
@import '../variables/themes/_nova.scss';

$gray-border: #767676;
$gray-footer-text: #8f8f91;
$green: #21a038;

$header-height: 6rem;

main {
  position: relative;
  padding-top: $header-height;
  overflow-x: hidden;
}

.auth-choose {
  width: 46.2rem;

  ::-webkit-scrollbar {
    background-color: transparent !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $black-06 !important;
  }

  .radio-wrapper {
    padding-right: 1.2rem;
    max-height: 25.7rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1.2rem;
    overflow-y: auto;
  }

  .checkbox-container {
    padding-right: 1.2rem;
    max-height: 25.7rem;
    overflow-y: auto;
  }

  .dropdown-wrapper.opened>ul {
    left: auto;
    right: 0;
  }
}

.shadow-button {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 5rem;
    bottom: 100%;
    width: 100%;
    background-image: url(https://cdn.esphere.ru/images/auth2/bg-bottom-shaddow.png);
    background-repeat: repeat;
  }
}

.personal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;

  button.more {

    &.active i,
    &:active i {
      color: $secondary-02;
    }
  }
}

.txt {

  &-light-gray {
    color: $black-05;
  }

  &-dark-gray {
    color: $black-02;
  }

  &-sber-id-gray {
    color: #9e9e9e;
  }
}

.min-height-100 {
  min-height: 100vh;
}

.bg {

  &-light-gray {
    background-color: #fcfcfc;

    .txt-gray {
      color: $gray-footer-text !important;
    }
  }

  &-malachite {
    background-color: $primary-02;
  }

  &-white {
    background-color: $white;
  }
}

a.button-sber-id-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  &.disabled img {
    opacity: .3;
  }

  &:hover, &:active {
    color: $text;
  }
}

.button-wrapper {

  &.button-sber-id-success {
    background-color: $primary-02 !important;
    border-color: $primary-02 !important;

    &:hover {
      background-color: $primary-03 !important;
      border-color: $primary-03 !important;
    }

    &:active {
      background-color: $primary-01 !important;
      border-color: $primary-01 !important;
    }
  }

  &.larger {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 2.4rem;

    &:not(.blank):focus {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
  }
}

.dropdown-wrapper > ul > li {
  min-width: 21.3rem;

  &:not(:last-child) {
    margin-bottom: .4rem;
  }

  > a:not(.button) {
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.6rem;
  }
}

.dropdownselect-input {

  &.input-kpp {
    width: 100%;
    z-index: 1;
  }

  &.input-name {
    position: absolute;
    left: 8.4rem;
    width: calc(100% - 12rem);
  }
}

img {
  max-width: 100%;
}

.label-dd {
  margin-top: .6rem;
}

.reg-separator {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 2.4rem);
    border-top: 1px solid $black-05;
    transform: translateY(-50%);
  }

  &.short-separator::before,
  &.short-separator::after {
    width: calc(50% - 8.4rem);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &.with-collapsible {

    button.more.blank {
      position: relative;
      z-index: 2;
      background-color: $white !important;

      .collapsible-icon {
        font-size: 1.6rem;
        line-height: 1;
        color: inherit;
        margin-left: .4rem;
      }
    }
  }
}

.notifications-cookies {

  &.notifications-wrapper {
    width: 90%;
    max-width: 102.2rem;
  }

  .notifications-item {
    align-items: start;
    padding: 0;
    background-color: $black-07;
    border: 1px solid $black-06;
    box-shadow: none;
  }

  .notifications-content {
    border-left: none;
    padding: 2rem;
    line-height: 1.6rem;
    width: 100%;
  }

  .notifications-icon-close {
    width: 2.8rem;
    margin: 1.2rem 1.2rem 0 0;

    &::before {
      font-size: 2rem;
      color: $secondary-02;
      content: "\e995";
      background: none;
      text-align: center;
      font-family: 'prodicon' !important;
      line-height: 3rem;
    }
  }
}

@media (max-width: 1023.98px) {

  .button-wrapper {
    border-radius: 2.4rem;
    line-height: 1.8rem;

    &,
    &.disabled:not(.blank):focus {
      padding-bottom: 1.4rem;
      padding-top: 1.4rem;
    }

    &:not(.blank):focus {
      padding-bottom: 1.3rem;
      padding-top: 1.3rem;
    }

    img {
      width: 1.8rem;
    }
  }

  a.button-sber-id-default {
    border-radius: 2.4rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;

    &:not(.blank):focus {
      padding-bottom: 1.1rem;
      padding-top: 1.1rem;
    }

    img {
      width: 2.2rem;
    }
  }

  .message {

    &,
    &.warning,
    &.danger {
      background-color: #f3f5f7;
      border: #f3f5f7;
    }
  }
}

@media (max-width: 767.98px) {

  .container {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .box {
    padding: 1.6rem;
  }
}

@media (max-width: 426px) {

  .container-auth {
    width: 100%;
  }
}

@media (min-width: 768px) {

  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 1400px) {

  .container {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .auth-choose .radio-wrapper {
    max-height: 43.7rem;
  }
}

// Стили для прежнего дизайна для работы одного из стендов.
// Удалим, когда определимся с вариантом дизайна.

.auth-2-wrapper {
  width: 40rem;
}

.col-left {
  width: 62rem;
}

.carousel {

  &-wrapper {
    margin: 0 auto;
    max-width: 81rem;
    position: relative;
  }

  &-wrapper-images {
    text-align: center;

    img {
      display: inline-block;
      max-width: 60%;
      max-height: 50vh;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background: $white;
    color: $black-02;
    border-radius: 50%;

    &:hover {
      opacity: .5;
    }
  }

  &-pagination-wrapper {
    padding: 2.4rem 0;

    li {
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      border: 1px solid $white;
      border-radius: 50%;
      height: .8rem;
      width: .8rem;
      background: transparent;
      margin-right: .7rem;

      &.active,
      &:hover {
        background: $white;
      }
    }
  }
}

.dropdown-wrapper.auth-dropdown ul {
  min-width: 25.2rem;
  left: -1.2rem;
}

.auth-title {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.select-cert-active-item {
  background-color: $base-06;
}

@media screen and (max-width: 800px) {

  .banner-none {
    display: none;
  }

  .col-left,
  .auth-2-wrapper {
    width: auto;
  }

  .col-left {
    padding: .8rem;
  }
}

// стили для кнопки Сбер ID

.auth-sberid-container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.2rem;
  background-color: $body-bg;
  border: 1px solid $black-05;
  border-radius: 1.6rem;
  color: inherit;
  min-width: 9.6rem;
  padding: .7rem 2.4rem;
  line-height: 1.6rem;
  transition: background-color .2s, border-color .2s, color .2s;

  @media screen and (max-width: 1023.98px) {
    border-radius: 2.4rem;
    height: 4.8rem;
    line-height: 1.8rem;
    padding: 1.4rem 2.4rem;
  }

  &:active {
    color: $black-01;
  }

  &:active,
  &:target {
    background-color: $black-05;
    border-color: $black-05;
  }

  &:focus {
    border-color: $focus-border;
  }

  &:not(:focus):hover {
    border-color: $black-01;
  }
}

.container-auth {

  width: 46.2rem;

  label:not(.checkbox-label),
  label:not(.radio-button-label) {
    display: inline-block;
    margin-bottom: .6rem;
  }

  .radio-button-label {
    margin-bottom: 0 !important;
  }

  .auth-sberid-container {

    > a {

      &:hover,
      &:focus {
        background-color: $body-bg;
      }

      svg {
        width: 1.6rem;
        fill: $green;

        @media screen and (max-width: 1023.98px) {
          width: 1.8rem;
        }
      }

      span {
        font-family: "SBSans", "Roboto", "Arial", "PT_sans", sans-serif;
        font-weight: 500;
      }

      span + span {
        margin-left: .8rem;
      }
    }
  }

  label.with-dropdown .dropdown-wrapper {
    margin-top: -.4rem;
  }
}
