@import '../variables/themes/_nova.scss';

$company-check-shadow: #191919;
$sidebar-width: 22.4rem;

.content-background {
  background-color: $black-07;
}

.header-position {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.sidebar {
  margin-top: 6rem;

  ul > li [class^="prodicon-"].active {
    color: $brand-primary !important;
  }
}

nav .active-button {
  background-color: $black-06 !important;
}

.document-body {
  padding-left: $sidebar-width;
  padding-top: 6rem;
  min-height: 100vh;
  max-width: 140rem;
}

header .personal-box .user-name.more {
  max-width: 24rem;
  padding: 0 2.4rem;
  display: inline-block;
}

.personal-box {
  padding: .6rem 1.2rem .5rem 3.2rem;

  a.logo {
    font-family: 'SBSansDisplay';
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: $primary-02;
  }
}

.panel-color {
  background-color: $white;
}

.table thead th {
  line-height: 1.6rem;
}

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -.4rem;
}

.empty-table-indent {
  padding-top: 3.9rem;
}

.modal-sm-icon-indent {
  margin-top: .85rem;
}

.modal-lg-icon-indent {
  margin-top: 6.4rem;
}

.table-margin-16 table {
  margin-top: -1.6rem;
}

.icon-96 {
  font-size: 9.6rem;
}

.notifications-top {
  top: 6.8rem;
  right: .8rem;
}

// information page

.txt-size-30 {
  font-size: 3rem;
  line-height: 4rem;
}

.icon-48 {
  font-size: 4.8rem;
}

.txt-largest {
  font-size: 2.5rem;
  line-height: 3rem;
}

.margin-top-80 {
  margin-top: 8rem;
}

.background-gray {
  background-color: $black-07;
}

.list {

  & > dt {
    padding-top: .8rem;

    &:first-of-type {
      padding-top: 0;
    }
  }

  & > dd {
    padding-top: .8rem;
    padding-bottom: .8rem;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.list-check {
  padding-left: 4rem;

  &.gray > li {
    padding-bottom: 1.3rem;

    &:before {
      left: -3.2rem;
      top: .6rem;
      color: $black-05;
    }
  }

  &.gray > li:last-child {
    padding-bottom: .3rem;
  }
}

.margin-bottom-40 {
  margin-bottom: 4rem;
}

.margin-bottom-80 {
  margin-bottom: 8rem;
}

.control-button {
  padding: .4rem !important;
  background-color: $black-05 !important;
  border-radius: 50% !important;
  &.selected {
  background-color: $black-03 !important; }
}

.slider-left-button-margin {
  margin-right: 3.2rem;
  margin-left: 6.8rem;
}

.slider-right-button-margin {
  margin-left: 3.2rem;
  margin-right: 6.8rem;
}

.min-width-132 {
  min-width: 13.2rem;
}

.icon-32 {
  font-size: 3.2rem;
}

// company-check

.icon-52 {
  font-size: 5.2rem;
}

.base-chart-donut-value {
  position: absolute !important;
  right: 50%;
  top: 50%;
  height: 5rem;
  min-width: 10rem;
  margin-right: -5rem;
  margin-top: -2rem;
  text-align: center;
  font-size: 2.1rem;
}

.founders-card {
  min-height: 18.2rem;
  position: relative;

    .pie-diagramm {
      height: 11.6rem;
      width: 11.6rem;
      position: absolute;
      top: 4rem;
      right: 1.6rem;
    }
}

.company-check-box-shadow {
  box-shadow: 0 1px .3rem rgba($company-check-shadow, .25);
}

// ADMIN TABLE FOOTER

.footer-wrapper {
  position: fixed;
  left: $sidebar-width;
  right: 0;
  bottom: 3.2rem;
  max-width: calc(140rem - #{$sidebar-width});
  width: 100%;
  background-color: $white;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    right: 0;
    top: -6.4rem;
    height: 6.4rem;
    pointer-events: none;
    background: linear-gradient(0, $white 0, rgba($white, 0) 100%);
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    right: 0;
    bottom: -3.2rem;
    height: 3.2rem;
    background-color: $white;
  }

  & .dark-panel-color {
    background-color: $black-06;
  }
}

.with-bottom-panel {
  padding-bottom: 12.8rem;
}

.bar-chart-height {
  height: 32.8rem;
}
