@import '../variables/themes/_nova.scss';

$border-gray: $black-05;

@mixin card-show-drop {
  background: url(https://cdn.esphere.ru/images/fuel/banner_drop_qr.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

@mixin card-show-qr {
  background: url(https://cdn.esphere.ru/images/fuel/banner_qr_small.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

header {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

aside {
  padding-top: 7rem !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;
}

.sidebar {
  margin-left: -25.5rem;
  transition: .3s ease margin-left;

  &.visible {
    margin-left: 0;
    transition: .3s ease margin-left;
  }
}

.content-box {
  padding: 6rem 0;

  .head-service {
    padding: 1.2rem;
  }
}

.sidebar + .content-box {
  padding-left: 0;
}

.row {
  position: relative;

  .asterisk {
    position: absolute;
    transform: translateX(100%);
    right: 0;
  }

  .delete-row {
    position: absolute;
    right: -1.6rem;
  }

  .delete-row + .asterisk {
    transform: translateX(calc(100% + 2.4rem));
  }
}

.collapse-heading-wrapper {
  position: relative;
  padding: 0 1.6rem;
  height: 6rem;
  align-items: center;
  background: $black-07;
  border: 0;

  &:not(first-child) {
    margin-top: 1.6rem;
  }

  .delete-row {
    position: absolute;
    right: -2.8rem;
  }
}

.collapse-toolbar {
  background: $black-08;
}

dl.large-indent {

  dd {
    padding-bottom: 2.4rem;
  }
}

.multiselect-wrapper {

  .suggestion-list {
    list-style-type: none !important;
  }
}

.summary-box {
  min-height: 20rem;
  border-radius: 1.2rem;
  text-align: center;
  padding: 1.2rem 2.4rem;

  &-title {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.4rem;
  }
}

.table {

  th.dropdown {
    overflow: visible;

    .dropdown-wrapper li {
      text-transform: initial;
    }
  }
}

.card-info-img {
  position: relative;
  border-radius: .6rem;

  > img {
    width: 100%;
    height: auto;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 4rem;
    top: 67%;
    left: 50%;
    box-shadow: 0 1rem 2rem rgba(84, 86, 92, .5);
    z-index: -1;
    transform: translateX(-50%);
  }

  &:after {
    content: '';
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    background-size: 100% auto;
    position: absolute;
    z-index: 10;
    bottom: .8rem;
    right: .8rem;
  }

  &.visa:after {
    background: url('https://cdn.esphere.ru/images/payment/visa.svg') no-repeat 50% 50%;
  }

  &.mastercard:after {
    background: url('https://cdn.esphere.ru/images/payment/mastercard.svg') no-repeat 50% 50%;
  }

  &.mir:after {
    background: url('https://cdn.esphere.ru/images/payment/mir.svg') no-repeat 50% 50%;
  }
}

.table-receipt .row {
  margin-bottom: 1.6rem;
}

.cards-multiselect {

  > li {
    display: flex;
    align-items: center;
  }
}

.document-list {
  box-shadow: $shadow-level-2;
  border-radius: .6rem;

  .document-loading {
    width: 1.6rem;
    height: 1.6rem;
    background: url('https://cdn.esphere.ru/images/sberbank/loader.svg') no-repeat 50% 50%;
    background-size: 100% 100%;
    animation: r-to-left 2s linear infinite;
  }
}

.help-block,
.mobile-user-block {
  overflow-y: scroll;
  margin-right: -23rem;
  width: 22.8rem;
  height: 100%;
  position: fixed;
  z-index: 9;
  right: 0;
  top: 0;
  padding-top: 7rem;
  background: #f3f5f7;
  box-shadow: $shadow-menu-top-bar;
  transition: .3s;

  &.visible {
    margin-right: 0;
    transition: .3s;
  }

  .help-tel {
    height: 8rem;
  }
}

@keyframes r-to-left {

  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.xl-none {
  display: none;
}

.hamburger {
  margin-top: -.5rem;
  margin-bottom: 0;
  display: block;

  .bar {
    background-color: #17bb4f;
    transition: .3s;
  }

  &.open {

    .bar-1 {
      top: .55rem;
      transform: rotate(45deg);
    }

    .bar-2 {
      top: .5rem;
      transform: rotate(-45deg);
    }

    .bar-4 {
      opacity: 0;
    }
  }
}

.map {
  background: url('https://cdn.esphere.ru/images/fuel/map.png') no-repeat 50% 50%;
  background-size: cover;
  border-radius: .8rem;
  width: 100%;
  height: 11.4rem;
}

.logo {
  margin-left: .4rem;
}

.menu-box {

  &-desk {
    display: none;
  }

  &-mobile {
    display: inherit;
  }
}

.app-header {

  .user-block,
  .company-block {
    display: none;
  }
}

.container.wrapper {
  padding: 1.2rem;
}

.card-item {
  width: 100%;
  max-width: 40.6rem;
  min-height: 12.8rem!important;
  background: $white;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &-gradient {
    background: linear-gradient(41deg, #1774ff -9.52%, #00b2bd 97.06%), $white;
    color: $white;
  }

  &-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 135.2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }

  &:last-of-type {
    border: 1px solid $black-05;
  }

  &:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }

  &-text {
    padding-bottom: 1rem;

    &-block {
      max-width: calc(100% - 10.3rem);
      padding: 1.6rem;
    }

    &-mobile {
      display: inline-block;
      padding-bottom: 0;
    }

    &-desktop {
      display: none;
      padding-bottom: 0;
    }
  }

  &-image {

    &-mobile {
      display: block;
      margin-right: 1.6rem;
    }

    &-tab {
      display: none;
    }
  }

  &-bg-app {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 1.6rem;
  }

  &-bg-map {
    display: block;
    width: 100%;
    height: auto;
    max-width: 24.9rem;
    background: url(https://cdn.esphere.ru/images/fuel/banner_map_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: -13rem;
    border-radius: 0 1.6rem 1.6rem 0;
    padding-right: 3.6rem;
  }
}

@media (min-width: 375px) {

  .card-item {

    &-bg-app {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 0;
    }

    &-bg-map {
      padding-right: 0;
      background-position-x: right;
    }
  }
}

@media (min-width: 400px) {

  .card-item {
    min-height: 12.8rem!important;
  }
}

@media (min-width: 426px) {

  .content-box {

    .head-service {
      padding: 2.4rem;

      .container.wrapper {
        padding: 2.4rem 0;
      }
    }

    .container.wrapper {
      padding: 2.4rem;
    }
    
    &-new {

      .card-item-block {
        margin: -2.4rem 0;
      }
    }

  }

  .logo {
    width: 11rem;
    height: 3.1rem;
    margin-left: 0;

    &-new {
      width: 20rem;
      height: 4rem;
    }
  }
}

@media (min-width: 768px) {

  .card-item {
    max-width: 100%;

    &-text-block {
      max-width: calc(100% - 12.9rem);
      padding: 1.6rem;
    }

    &-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      margin-left: 2.4rem;
      margin-right: 2.4rem;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:not(:last-of-type) {
      margin-right: 2.4rem;
      margin-bottom: 0;
    }

    &-text {

      &-mobile {
        display: none;
      }

      &-desktop {
        display: inline-block;
        max-width: 73rem;
      }
    }

    &-bg-app {
      align-items: flex-start;
    }

    &-image {

      &-mobile {
        display: none;
      }

      &-tab {
        display: block;
        margin-top: 1.6rem;
        margin-left: 1.6rem;
      }
    }
  }
}

@media (min-width: 810px) {

  .app-header {

    .user-block,
    .company-block {
      display: inline-block;
    }
  }

  .menu-box {

    &-desk {
      display: inherit;
    }

    &-mobile {
      display: none;
    }
  }

  .user-btn {
    display: none;
  }

  .mobile-user-block {
    display: none;
  }
}

@media (min-width: 1032px) {

  .card-item {

    &-text-block {
      max-width: calc(100% - 24.3rem);
    }

    &-bg-app {
      width: 24.3rem;
      height: auto;
      padding: 1.6rem;
      background: url(https://cdn.esphere.ru/images/fuel/banner_drop_qr.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0 1.6rem 1.6rem 0;
      background-position: 40% 0;
      display: flex;
      align-items: center;
    }

    &-image {

      &-tab {
        display: none;
      }
    }
  }
}

@media (min-width: 1281px) {

  .sidebar {
    margin-left: 0;
    transition: .3s ease margin-left;

    + .content-box {
      padding-left: $sidebar-width;
      transition: .3s ease padding-left;

      &-centered {

        .card-item-block {
          transition: .3s ease;
        }

        .main-content {
          transition: .3s ease;
          margin-left: 11.2rem;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }

  .xs-none {
    display: none;
  }
}

@media (min-width: 1367px) {

  .content-box {

    &-centered {
      
      .main-content {
        margin-right: 11.2rem;
      }
    }
    
    .container.wrapper {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }

    .main-content {
      max-width: 112.4rem;
    }

    &-new {

      .main-content {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1400px) {

  .sidebar {
    margin-left: 0;
    transition: .3s ease margin-left;

    + .content-box {

      &-new {

        .card-item-block {
          margin-left: 0;
          margin-right: 0;
          transition: .3s ease;
        }

        .main-content {
          margin-left: 0;
          margin-right: 0;
          transition: .3s ease;
        }
      }
    }
  }
}

@media (min-width: 1441) {
  
  .head-service {
    padding: 2.4rem 0;

    .container.wrapper {
      padding: 2.4rem 0;
    }
  }
}

@media (min-width: 1451px) {

  .card-item {

    &-text-block {
      max-width: calc(100% - 24.3rem);
    }

    &-bg-app {
      width: 24.3rem;
      height: auto;
      background: url(https://cdn.esphere.ru/images/fuel/banner_drop_qr.png);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0 1.6rem 1.6rem 0;
      background-position: 40% 0;
      display: flex;
      align-items: center;
    }

    &-image {

      &-tab {
        display: none;
      }
    }
  }
}

@media (min-width: 1624px) {

  .sidebar {

    + .content-box {

      &-new {

        .card-item-block {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}