@import '../variables/themes/themable';

pre {
  padding: 2.4rem;
  position: relative;
}

.message {

  & p {

    &:not(:last-of-type) {
      padding-bottom: .8rem;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

button.icon {
  min-width: fit-content;
  padding: .8rem;
}

.list-num {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.2rem;

  & i {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.6rem;
    min-width: 3.6rem;
    font-size: 1.4rem;
    color: $secondary-02;
    border-radius: 1.8rem;
    border: .2rem solid $secondary-02;
    font-style: normal;
    line-height: 1.1;
    text-align: center;
    position: relative;
    margin-right: 1.6rem;
    margin-top: -.7rem;
  }
}
