@import '../variables/_base.scss';
@import '../variables/themes/_nova.scss';

$gray-border: #767676;
$gray-footer-text: #8f8f91;
$green: #21a038;
$color-blue: #0b4288;
$header-height: 6rem;

main {
  position: relative;
  padding-top: $header-height;
  overflow-x: hidden;
}

.container {

  &-profile-update {
    width: 61.8rem;
  }

  &-small {
    max-width: 91rem;
  }

  &-inner {
    max-width: 115.2rem;
  }
}

.padding {

  &-top-14 {
    padding-top: 1.4rem;
  }

  &-bottom-56 {
    padding-bottom: 5.6rem;
  }
}


.radio-button {

  &-input:checked + .radio-button-label {

    &::before {
      background-color: $color-blue;
      border-color: $color-blue;
    }

    &:hover::before {
      background-color: $secondary-01;
      border-color: $secondary-01;
    }
  }

  &-label:hover::before {
    border-color: $color-blue;
  }
}

.list-check > li:before {
  color: $secondary-02;
}

.bside {
  position: fixed;
  top: $header-height;
  right: 0;
  z-index: 100;
  width: 42.4rem;
  height: calc(100% - #{$header-height});
  box-shadow: $shadow-menu-top-bar;
  overflow-y: auto;
  transition: .3s ease transform;
  transform: translateX(110%);

  .list-h li {
    margin-right: 1.6rem;
  }

  &.visible {
    transform: translateX(0);
  }

  &-footer {

    .gray-box {
      background-color: $black-06;
      border-radius: 1.6rem;
    }
  }
}

.personal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;

  button.more {
    max-width: 24rem;

    &.active i,
    &:active i {
      color: $secondary-02;
    }
  }

  .bside button.more {
    min-width: auto;
    height: auto;
    padding: .5rem;
  }

  .dropdown-wrapper > ul {
    max-width: 24rem;
    max-height: 70vh;
  }
}

.title {

  &-block {
    background-color: $black-07;
  }

  &-main {
    font-size: 3rem;
    line-height: 4rem;
  }

  &-product-item {
    font-size: 2.8rem;
    font-family: 'SbSansDisplay';
    line-height: 3.2rem;
    text-transform: uppercase;
    color: $secondary-02;
  }
}

.txt {

  &-footer-gray {
    color: $gray-footer-text !important;
  }

  &-light-gray {
    color: $black-05;
  }

  &-medium-gray {
    color: $black-03;
  }

  &-dark-gray {
    color: $black-02;
  }

  &-blue {
    color: $color-blue
  }

  &-warning {
    color: $accent-02
  }

  &-danger {
    color: $error-02;
  }

  &-light-blue {
    color: $secondary-02;
  }
}

.min-height-100 {
  min-height: 100vh;
}

.min-height-auto {
  min-height: auto !important;
}

.bg {

  &-asphalt-4 {
    background-color: $black-06;
  }

  &-asphalt-5 {
    background-color: $black-07;
  }

  &-light-gray {
    background-color: #fcfcfc;
  }

  &-sky-5 {
    background-color: $secondary-05;
  }
}

.border-asphalt-5 {
  border: 1px solid $black-05;
}

.border-radius-16 {
  border-radius: 1.6rem !important;
}

.fixed.zindex-0 {
  z-index: auto !important;

  &.light-box-heading {
    z-index: 1 !important;
  }
}

.button,
.button-wrapper {

  &.success {
    background-color: $secondary-02;
    border-color: $secondary-02;

    &:hover {
      background-color: $secondary-01;
      border-color: $secondary-01;
    }

    &:active {
      background-color: $secondary-03;
      border-color: $secondary-03;
    }

    &.disabled,
    &.disabled:hover {
      background-color: $secondary-04 !important;
      border-color: $secondary-04 !important;
    }
  }

  &.blank {
    color: $color-blue;

    &:hover {
      color: $secondary-01;
    }

    &:active {
      color: $secondary-03;
    }
  }

  &.larger {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 2.4rem;

    &:not(.blank):focus {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;
    }
  }
}

.subtitle {
  color: $black-03;
}

.dropdown-header {

  .button-dropdown {
    border-width: .2rem;

    &:after {
      color: $black-04;
    }

    &::after,
    &:focus::after {
      right: .8rem;
    }

    &:hover {
      background-color: $black-07;
    }
  }

  &.opened {

    .button-dropdown {

      &::after,
      &:focus::after {
        right: .8rem;
      }
    }

    .button-dropdown,
    .button-dropdown:hover {
      background-color: $black-06;
      border-color: transparent;
    }

    ul {
      left: auto;
      right: 0;
    }
  }
}

.dropdown-wrapper > ul > li {
  min-width: 21.3rem;

  &:not(:last-child) {
    margin-bottom: .4rem;
  }

  > a:not(.button) {
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.6rem;
  }
}

a,
.txt-link,
.dropdown-wrapper > ul > .dropdown-link > a:not(.button) {
  color: $color-blue;

  &:hover {
    color: $secondary-01;
  }

  &:active {
    color: $secondary-03;
  }
}

a.button {
  color: inherit;
}

.not-empty {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: .6rem;
    right: .6rem;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: $accent-02;
  }
}

.product {
  width: calc((100% - 3.2rem) / 3);
  border: .1rem solid $black-06;
  box-shadow: 0 .2rem .7rem rgba(31, 31, 34, .08);
  border-radius: 2.4rem;

  &:nth-child(3n + 2) {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  .tag {
    line-height: 2.4rem;

    &::before {
      margin-top: .8rem;
    }
  }

  .button-wrapper.success {
    font-weight: 600;
  }
}

img {
  max-width: 100%;
}

.sale-modal {

  .modal-window {
    width: 100rem;
  }
}

.tabs-scroll {

  &.bg-reverse {

    .tabs-arrow-left::after,
    .tabs-arrow-right::after {
      background-image: none;
    }
  }
}

.icon-24 {
  font-size: 2.4rem;
}

.notifications-lk {

  .notifications-item {

    .notifications-content::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: .5rem;
      height: 100%;
      background-color: $secondary-02;
      border-top-left-radius: .8rem;
      border-bottom-left-radius: .8rem;
    }

    .txt-success,
    .notifications-icon-close::before {
      color: $secondary-02;
    }

    .txt-warning + .notifications-content {

      &::before {
        background-color: $accent-02;
      }

      & + .notifications-icon-close::before {
        color: $accent-02;
      }
    }

    .txt-danger + .notifications-content {

      &::before {
        background-color: $error-02;
      }

      & + .notifications-icon-close::before {
        color: $error-02;
      }
    }
  }
}

tbody {

  tr.no-hover:hover {
    background-color: transparent;
  }
}

.lk-table {

  .checkbox-header {
    text-overflow: initial;

    .checkbox-wrapper {

      .checkbox-label {

        &::before,
        &::after {
          top: -.1rem;
        }

        &.semi::after {
          top: .6rem;
        }
      }
    }
  }

  tr td {
    border-radius: 0 !important;
  }

  tr:last-of-type td {

    &:first-child {
      border-bottom-left-radius: .8rem !important;
    }

    &:last-child {
      border-bottom-right-radius: .8rem !important;
    }
  }

  tr.disabled {
    opacity: 1;

    .tag {
      color: $black-01 !important;
    }

    td.with-button,
    td.with-button * {
      color: $black-01 !important;
      cursor: default !important;
    }
  }

  tr.active {

    td {
      background-color: $black-06 !important;
    }
  }
}

.checkbox {

  &-input:checked:not(:disabled) {

    + .checkbox-label {

      &::before,
      &::after {
        background-color: $color-blue;
        border-color: $color-blue;
      }

      &:hover,
      &:hover:not(.semi) {

        &::before,
        &::after {
          background-color: $secondary-01;
          border-color: $secondary-01;
        }
      }
    }

    + .checkbox-label.semi {

      &::after {
        background-color: $white;
      }
    }
  }

  &-input:disabled + .checkbox-label:not(.semi) {
    pointer-events: auto;

    &:hover {

      &::before,
      &::after {
        color: $black-05;
        border-color: $black-05;
      }

      &::before {
        background-color: $black-07;
      }

      &::after {
        background-color: transparent;
      }
    }
  }

  &-label:hover::before {
    border-color: $secondary-01;
  }
}

.list {

  & > dt,
  & > dd {
    padding-top: .8rem;

    &.padding-left-8 {
      padding-left: .8rem !important;
    }
  }

  & > dd {
    padding-bottom: .8rem;
  }
}

.lk {

  &-width-60 {
    width: 6rem !important;
  }

  &-width-15 {
    width:  15% !important;
  }

  &-width-76 {
    width: 76% !important;
  }
}

.label-dd {
  margin-top: .6rem;
}

.notification {

  &-message {
    position: relative;
    background-color: $body-bg;
    border-radius: .8rem;
    box-shadow: $shadow-level-5;
  }

  &-close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;

    i {
      color: $black-05;
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

.separator-after {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: calc(50% - .2rem);
    right: .4rem;
    display: block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: $black-03;
  }
}

.auth-modal {

  .modal-window.md {

    .modal-body {
      min-height: auto;
    }
  }

  &-scroll .modal-window.md {

    .window-content {
      padding-top: 1.6rem;
      padding-right: .8rem;
      padding-bottom: 1.6rem;
    }

    .inner-content {
      max-height: 25.2rem;
      padding-top: .8rem;
      padding-right: 2.4rem;
      padding-bottom: .8rem;
      overflow: auto;

      &::-webkit-scrollbar {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $black-06;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }
}

.lk-filter {

  .multiselect {

    &-wrapper {

      .suggestion-wrapper {
        width: 32rem;
      }
    }

    &-placeholder {
      padding-right: 1.6rem;
      white-space: nowrap;
      color: $black-01;
    }
  }

  .list-h > li:not(:last-of-type) {
    margin-right: 2.4rem;
  }
}

.tariff {

  &-list {
    max-width: 85.8rem;
  }

  &-item {
    box-shadow: 0 1px .3rem 0 rgba($black-01, .25);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    border: 1px solid $black-05;
    border-radius: 1.6rem;
    padding: 2.4rem 3.2rem;

    &:hover {
      box-shadow: $shadow-level-5;
      cursor: pointer;
    }

    &-basic {
      background-color: $black-07;
    }

    &-selected {
      border-color: $secondary-02;
    }

    ul > li {
      position: relative;

      &::before {
        content: "\e9a0";
        position: absolute;
        top: .3rem;
        left: 0;
        font-family: 'prodicon';
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1;
        color: $secondary-02;
      }
    }
  }

  &-price {
    line-height: 2.8rem;

    &-amount {
      font-size: 2.2rem;
      line-height: 2.6rem;
    }

    .txt-delete > span > span {
      margin-left: 0 !important;
    }
  }

  &-tag {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: $white;
    background-color: $accent-02;
    padding: .4rem .6rem;
    border-radius: .8rem;
  }
}

.form-footer {
  padding-bottom: 8rem;

  &-inner {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.k-sms-box {
  width: 100%;

  i {
    color: $black-04;
  }

  .input-element-wrapper > input[class*="input"] {
    padding: 0 .8rem;

    & + i {
      color: $secondary-02;
    }
  }
}

.bottompanel-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 8rem);
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  transition: .3s;

  &.hidden {
    bottom: -15rem;
  }

  .checkbox-label {

    &::before {
      top: -.1rem;
    }

    &::after {
      top: -.2rem;
    }
  }
}

.lk-form-footer {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;

  &-justify {
    justify-content: space-between;
    max-width: 115.2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  &-end {
    justify-content: end;
    margin-left: .8rem;
    margin-right: .8rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.lk-header-tabs {
  margin-top: -4.4rem;
}

.lk-pagination {

  .pagination-label-options {

    .suggestion-wrapper {
      top: auto;
      bottom: 100%;
      margin-bottom: .4rem;
      margin-top: 0;
    }
  }
}

.tabs-item {

  &.active::after {
    border-right-color: $color-blue;
    border-top-color: $color-blue;
    border-left-color: $color-blue;
  }

  &:not(.active):not(.disabled):hover::after {
    border-right-color: $secondary-01;
    border-top-color: $secondary-01;
    border-left-color: $secondary-01;
  }
}

.auth-radio-item {
  margin-bottom: .8rem;

  border: 1px solid $black-06;
  border-radius: .8rem;

  .radio-button-label {
    display: block;
    padding: 1.2rem 1.6rem;
    padding-left: 4rem;

    &::before {
      top: 1.6rem;
      left: 1.6rem;
    }

    &::after {
      top: 2.1rem;
      left: 2.1rem;
    }
  }
}

.tag {

  &.success::before {
    background-color: $secondary-02;
  }

  &.danger::before {
    background-color: $error-02;
  }
}

.lk-footer-link {
  color: $gray-footer-text;

  &:hover,
  &:focus {
    color: $secondary-02;
  }
}

.loader-element,
.loading-input .input-element-wrapper::before,
.loading-input .autocomplete-input-wrapper::before,
.loading-input .dropdownselect-select-icon::before {
  background: url("https://cdn.esphere.ru/images/loading-spinner-sky.svg");
}

.button-wrapper.loading::before {
  background-image: url("https://cdn.esphere.ru/images/loading-spinner-sky.svg");
  background-size: 20px;
}

.multiselect-wrapper .multiselect-loading-icon::before {
  content: url("https://cdn.esphere.ru/images/loading-spinner-sky-small.svg")
}

.lk-list {

  li {
    position: relative;
    padding-left: 1.4rem;
    padding-bottom: .8rem;

    &::before {
      content: '';
      position: absolute;
      top: .7rem;
      left: 0;
      display: block;
      width: .6rem;
      height: .6rem;
      background-color: $secondary-02;
      border-radius: 50%;
    }
  }
}

.payment-method {
  width: calc(50% - 1.2rem);
  border-radius: 1.6rem;
  box-shadow: 0 .1rem .3rem rgba($black-01, .25);

  &:nth-of-type(odd) {
    margin-right: auto;
  }

  &:has(.payment-method-body[aria-expanded="true"]) {
    align-self: stretch;
  }

  &-header {
    padding: 1.6rem 3.2rem;

    h6 {
      max-width: calc(100% - 3.2rem);
    }
  }

  &-body[aria-expanded="true"] {
    border-top: 0 !important;
  }

  &-title {
    max-width: 30rem;
  }
}

.dropdown-wrapper .button-wrapper.more:not(.blank):focus {
  padding: .2rem;
}

@media (max-width: 1199.98px) {

  .product {
    width: calc((100% - 1.6rem) / 2);

    &:nth-child(3n + 2) {
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-of-type(odd) {
      margin-right: 1.6rem;
    }
  }

  .payment-method {
    width: 100%;
  }
}

@media (max-width: 767.98px) {

  .modal-footer,
  .form-footer {

    button:not(.success):not(.danger) {
      font-weight: 500;
      color: $secondary-01;
      background-color: transparent;
      border-color: transparent;

      &.disabled,
      &.disabled:hover {
        background-color: $secondary-04 !important;
        border-color: $secondary-04 !important;
      }
    }
  }

  .container {
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  .modal-header {
    padding: 1.6rem;
    padding-right: 4.7rem;
  }

  .modal-body,
  .modal-footer {
    padding: 1.6rem;
  }

  .modal-cross {
    top: 2.2rem;
    right: 3.6rem;
    width: 2rem;
    height: 2rem;
  }

  .title-product-item {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .xs-auth-list {

    &.list {
      display: flex;
      flex-direction: column;

      dt,
      .label-dd {
        width: 100%;
        margin-bottom: .4rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $black-03;
        vertical-align: top;
      }

      dd {
        width: 100%;
        padding: 0;
      }
    }
  }

  .form-footer {
    padding-bottom: 12rem;
  }

  .product {
    width: 100%;

    &:nth-of-type(odd) {
      margin-right: 0;
    }
  }
}

@media (max-width: 575.98px) {

  .product-info-logo {
    height: 4.8rem;
  }

  .dropdown-header .button-wrapper.button-dropdown::after {
    content: none;
  }

  .dropdown-header {

    .button-dropdown {
      min-width: auto;
    }
  }

  .modal-window {

    &.sm,
    &.md,
    &.lg {

      .modal-body {
        min-height: auto;
      }
    }
  }
}

@media (min-width: 576px) {

  .dropdown-header {

    .button-dropdown {
      padding: .7rem 3.6rem .7rem .8rem !important;
    }
  }
}

@media (min-width: 768px) {

  .md {

    &-width-16 {
      width: 16.9rem !important;
    }

    &-width-76 {
      width: 76% !important;
    }

    &-txt-black {
      color: $black-01 !important;
    }
  }

  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {

  .modal-window {
    max-width: 85%;
  }
}

@media (max-width: 1023.98px) {

  .table-form-3-field {

    colgroup {
      display: none;
    }

    tr, td {
      display: block;
    }

    td:not(:first-child) {
      margin-top: 1.2rem;
    }

    label {
      margin-top: 2.4rem;
      margin-bottom: .4rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $black-03;
      display: block;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

@media (min-width: 1024px) {

  .lg-margin-right-auto {
    margin-right: auto !important;
  }
}
