@import '../variables/themes/_nova.scss';

// VARIABLES

$color-blue: #0b4288;

// END VARIABLES

// CUSTOM

.notifications-icon.txt-success {
  color: $color-blue;
}

.table {
  position: relative;

  &::before {
    content: '';
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: block;
    height: .5rem;
    background-color: $white;
  }

  th {
    background-color: $black-05;
  }

  tr.no-hover:hover {
    background-color: transparent;
  }

  tfoot {

    tr:first-of-type td {
      padding-top: 3.2rem;
      border-top: 1px solid $black-05;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  :not(.table-border-spacing) tbody {

    &::before {
      content: '';
      display: block;
      height: 1.6rem;
    }

    &:first-of-type::before {
      height: 1rem;
    }
  }

  .quick-view.quick-view-selected {
    background-color: $black-06;

    td {
      padding-bottom: 3.2rem;
      border-bottom-color: $black-05;
    }

    & + tr > td {
      background-color: $black-06;

      table {

        tbody::before {
          height: 0;
        }

        tr:hover {
          background-color: transparent;
        }

        td {
          padding-top: .8rem;
          padding-bottom: .8rem;
        }
      }
    }

  }

  .table-border-spacing {

    tr.no-hover td {
      padding-top: 0;
    }
  }

}

.sticky-header-table {
  position: relative;

  th {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

// END CUSTOM
