@import '../variables/themes/_nova.scss';

$win-bot-button-default: #006cff;
$win-bot-button-hover: #4594fe;
$win-bot-button-active: #065cd1;
$legal-information-background: #f3f8fe;

.container-auth {
  width: 45.2rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.8rem;
  }
}

.content-background {
  background-color: $black-07;
}

.legal-information-background {
  background-color: $legal-information-background;
}

.header-position {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.sidebar {
  margin-top: 6rem;
  overflow: hidden;
  z-index: 12;
  margin-left: -22.4rem;
  transition: .3s ease margin-left;
  width: 22.4rem;

  &.visible {
    margin-left: 0;
    transition: .3s ease margin-left;
  }
}

.admin-sidebar {
  position: fixed;
  z-index: 14;
  top: 0;
  right: 0;
  height: 100%;
  width: 42.4rem;
  margin-right: -42.4rem;
  margin-top: 6rem;
  transition: .3s ease margin-right;
  background-color: $black-07;

  &.admin-sidebar-visible {
    margin-right: 0;
    box-shadow: 0 .6rem 1rem rgba($black-01, .25);
  }
}

nav .active-button {
  background-color: $black-06 !important;
}

.overlay {
  position: absolute;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.admin {
    z-index: 13;
  }
}

.hamburger .bar {
  background-color: $primary-02;
  transition: .3s;
}

.hamburger.open .bar-1 {
  top: .8rem;
  transform: rotate(45deg);
}

.hamburger.open .bar-2 {
  top: .8rem;
  transform: rotate(-45deg);
}

.hamburger.open .bar-4 {
  opacity: 0;
}

.document-body {
  padding-top: 6rem;
  min-height: 100vh;
  max-width: 140rem;
}

.customer-document-body {
  padding-top: 6rem;
  min-height: 100vh;
}

.customer-content-body {
  max-width: 140rem;
  margin-left: auto;
  margin-right: auto;
}

header .personal-box .user-name.more {
  max-width: 24rem;
  padding: 0 2.4rem;
  display: inline-block;
}

.panel-color {
  background-color: $white;
}

.category-box {
  border-radius: 1.6rem;
  border: 1px solid $black-05;
  padding-top: 5.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
  min-height: 13.1rem;
  box-shadow: 0 1px .3rem rgba(31, 31, 34, .25);
}

.button-wrapper {

  .link-icon {
    color: $secondary-02;
  }

  &:hover .link-icon {
    color: $primary-02;
  }
}

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -.4rem;
}

.txt-overflow-clip {
  text-overflow: clip !important;
}

.bottom-panel {
  max-width: 140rem;
  background-color: $white;
  border-top: 1px solid $black-05;

  &:not(.visible-bottom-panel) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.customer-bottom-panel {
  background-color: $white;
  border-top: 1px solid $black-05;
}

.customer-wrapper {
  max-width: 140rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.customer-header-color {
  background-color: $black-07;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.no-gutters {

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.offer-list {

  & > li {
    min-height: 3.2rem;
    margin-bottom: .4rem;

    &:last-child {
      margin-bottom: 0;
    }

    & .checkbox-wrapper {
      margin-top: .2rem;
    }

    &.margin-bottom-16 {
      margin-bottom: 1.6rem;
    }
  }

  &.with-inputs {

    & input[type="radio"] + label {
      margin-bottom: .3rem;
    }

    & input[type="checkbox"] + label {
      margin-bottom: .7rem;
    }
  }
}

.collapse-heading-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  border: 0;

  & + div[aria-expanded="true"] {
    border-top: 1px solid $black-06;
  }
}

.border-radius-16 {
  border-radius: 1.6rem;
}

.border-radius-none {
  border-radius: 0;
}

.nav-tabs {

  &.reverse > ul {
    background: $white;
  }

  & > ul {
    background: $black-07;

    & li:hover.level-1:not(.active):not(.not-active) {
      background: $black-06 !important;
    }

    & li:hover.level-1.not-active {
      background: $white;

      & > a {
        cursor: default;
      }
    }
  }
}

.dropdown-wrapper {

  &.opened .active-button {
    color: $brand-primary;
  }

  & > ul.item-image {
    top: unset !important;
    bottom: 100% !important;
    text-align: center;
    height: 12.4rem;
    width: 12.4rem;

    & img {
      max-width: 11.6rem;
      max-height: 11.6rem;
    }
  }
}

.custom-text-area > .textarea-input {
  min-height: 13.5rem;
}

.max-width-100 {
  max-width: 100%;
}

.list > dd {
  padding-bottom: 1.6rem;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.order-details-margin {
  margin-top: 6.8rem;
}

.border-black {
  border-color: $black-05;
}

.dd-padding-bottom-5 > dd {
  padding-bottom: .5rem;
}

.dd-padding-bottom-13 > dd {
  padding-bottom: 1.3rem;
}

.document-preview {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1.6rem 2.4rem rgba($black-01, .25);
}

.icon-24 {
  font-size: 2.4rem;
}

.icon-32 {
  font-size: 3.2rem;
}

.icon-48 {
  font-size: 4.8rem;
}

.image-card {
  height: 21rem;
  border: 1px solid $black-05;

  &.small {
    height: 16.6rem;
  }

  & > img {
    max-width: 100%;
    max-height: 100%;
  }

  &.with-hover:hover:not(.small) {
    background-color: $black-04;
    cursor: pointer;

    & > i,
    & > .subtitle,
    & > .txt-gray {
      color: $white !important;
    }
  }
}

.position-relative {
  position: relative;
}

.image-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($black-02, .4);
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  & > i {
    color: $white;
  }
}

.height-100-vh {
  height: 100vh;
}

.margin-top-60 {
  margin-top: 6rem;
}

.padding-top-229 {
  padding-top: 22.9rem;
}

.padding-top-60 {
  padding-top: 6rem;
}

//стили для раскрывающихся строк в списке товаров у покупателя

.pos-relative {
  position: relative;
}

.background-element:before {
  content: "";
  display: block;
  position: absolute;
  background-color: $black-07;
  left: -1px;
  right: -1px;
  height: 0;
  top: -2rem;
  transition: height 250ms cubic-bezier(.4, 0, .2, 1) 0s;
  border-left: 1px solid $black-06;
  border-right: 1px solid $black-06;
  border-top: 1px solid $black-06;
}

.chosen-row .background-element:before {
  height: 2.6rem;
}

.chosen-row {
  background-color: $hover;

  &:nth-child(2n) td {
    border-bottom: 1px solid $black-06;
  }

  & > td {
    border-top: 1px solid $black-06;
  }

  & td:first-of-type {
    border-left: 1px solid $black-06;
    border-top: 1px solid $black-06;
  }

  &:nth-child(odd) td:first-of-type {
    border-bottom-left-radius: 0;
  }

  & td:last-of-type {
    border-right: 1px solid $black-06;
    border-top: 1px solid $black-06;
  }

  &:nth-child(odd) td:last-of-type {
    border-bottom-right-radius: 0;
  }

  &.collapse-row {
    display: table-row;
  }
}

.collapse-row {
  display: none;
}

//конец стилей для раскрывающихся строк в списке товаров у покупателя

.height-168 {
  height: 16.8rem;
}

.document-snapshot .react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

.print-header {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 3.2rem;
  padding-right: 2.4rem;
}

.print-body {
  padding-top: 8rem;
  height: 100vh;
  background-color: $base-56;
}

.font-size-64 {
  font-size: 6.4rem;
}

.font-size-32 {
  font-size: 3.2rem;
}

.txt-light-gray {
  color: $black-04;
}

.percentage-width {
  min-width: 3.6rem;
}

.preview-button {
  transition-duration: 500ms;
  transition-property: opacity;

  &:hover {
    opacity: .8;
  }
}

.tag {

  &.new:before {
    background-color: $secondary-02;
  }
}

.link-icon {
  color: inherit;
}

.receivers-list {
  line-height: 3.8rem;
  margin-top: -.9rem;
}

.checkboxtree-list-custom > li .checkbox-wrapper {
  margin-top: 1.2rem;
  margin-bottom: .7rem;
}

.table-margin-16 table {
  margin-top: -1.6rem;
}

.start-tour-box {
  position: absolute;
  transform: translateX(-100%);
  top: 1.2rem;
  left: -1.4rem;
  background-color: $white;
  border-radius: .8rem;
  box-shadow: $shadow-level-5;
}

.tour-overlay {
  z-index: 10003;
}

.tour-modal {
  z-index: 10004;
}

.form-file-list .file-list {
  margin-bottom: 1.1rem;
}

@media (min-width: 1281px) {

  .sidebar {
    margin-left: 0;
  }

  .sidebar ~ main .document-body {
    margin-left: 22.4rem;

    & .footer-wrapper {
      margin-left: 22.4rem;
    }
  }

  .xs-none {
    display: none !important;
  }
}

.line-height-none {
  line-height: 0;
}

.nowrap {
  white-space: nowrap;
}

.new-row {
  font-weight: 500;

  .subtitle,
  .txt-normal {
    font-weight: 400;
  }
}


// registration page

.registration-body {
  padding-top: 6.1rem;
  min-height: 100vh;
  background-color: $white;
}

.registration-header {
  background-color: $black-07;
}

.bottom-panel-registration {
  border-top: 1px solid $black-05;
}

.registration-wrapper {
  max-width: 140rem;
}

//Admin Login

.admin-login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 24rem;
  transform: translate(-50%, -50%);
}

.admin-login-text {
  position: fixed;
  bottom: 0;
}

.expiration-padding-top {
  padding-top: 16.4rem;
}

@media print {

  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .print,
  jdiv {
    display: none !important;
  }

  .print-main {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  .print-body {
    background-color: transparent;
  }
}

//Filelist

.file-list td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.with-button {
    text-overflow: clip;
  }

  & .file-list-subtitle {
    white-space: normal;
  }
}

// карточки тарифов

.box-16 {
  border-radius: 1.6rem;
  border: 1px solid $gray;
}

.tariff-card {
  box-shadow: 0 1px .3rem rgba($black-01, .25);

  &:not(.selected):hover {
    box-shadow: $shadow-level-5;
  }

  &:not(.selected):focus {
    border-color: $focus-border;
    box-shadow: none;
  }

  &.selected {
    border-color: $brand-primary;
    box-shadow: none;
  }

  &-add {
    min-height: 26rem;
    width: 25.1rem;

    .list-check {
      padding-left: 2.8rem;

      > li {
        margin-bottom: 1.2rem;
        padding-bottom: .2rem;
        padding-top: .2rem;

        &::before {
          color: $black-04;
          left: -2.8rem;
        }
      }
    }
  }
}

.tariff-padding-top {
  padding-top: 9rem;
}

.filter.filter-active {
  padding-bottom: .8rem;

  .tags-item {
    margin-top: 0;
    margin-bottom: 1.6rem;
  }
}

// лайтбокс инструкций

.video-container {
  border-radius: .8rem;

  &.for-reakit {
    height: 50.3rem;
    background-color: $black-05;
  }
}

// хелпер

.name-text-margin {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

// выравнивание хедера таблицы

.table thead th {
  line-height: 1.6rem;
}

//таблица товаров, строка с контролами

.footer-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3.2rem;
  max-width: 140rem;
  margin-left: 0;
  background-color: $white;

  &.customer {
    margin-left: auto;
    margin-right: auto;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: -6.4rem;
    height: 6.4rem;
    pointer-events: none;
    background: linear-gradient(0, $white 0, rgba($white, 0) 100%);
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    bottom: -3.2rem;
    height: 3.2rem;
    background-color: $white;
  }

  & .dark-panel-color {
    background-color: $black-06;
  }
}

.checkbox-align {
  vertical-align: middle;

  & .checkbox-label::after,
  & .checkbox-label::before {
    top: 1px;
  }

  .checkbox-text-indent {
    margin-left: 1.4rem;
  }
}

.with-bottom-panel {
  padding-bottom: 12.8rem;
}

// модалка отправки заказа и запроса прайс-листа

.modal-icon-margin-top {
  margin-top: 8.8rem;
}

// логотип продавца в шапке страницы

.logo-container-sm {
  width: 4.8rem;
  height: 4.8rem;
}

.logo-container-md {
  width: 9rem;
  height: 4.8rem;
}

// баннер заблокированного прайс-листа

.banner-icon-margin-top {
  margin-top: 17.2rem;
}

// страница приветствия

.list-check {
  padding-left: 4rem;

  li:before {
    left: -3.2rem;
  }

  &.gray > li {
    padding-bottom: 2rem;

    &:before {
      top: .6rem;
      color: $black-05;
    }
  }

  &.tariff-page-text {

    li:before {
      top: .3rem;
    }
  }

  &.gray > li:last-child {
    padding-bottom: .3rem;
  }
}

.background-gray {
  background-color: $black-07;
}

.slide-minimum-height {
  min-height: 63rem;
}

.margin-top-80 {
  margin-top: 8rem;
}

.txt-largest {
  font-size: 2.5rem;
  line-height: 3rem;
}

.txt-size-30 {
  font-size: 3rem;
  line-height: 4rem;
}

// custom dropZone

.hint-none {

  .dropzone-hint {
    display: none;
  }
}

.line-height-20 {
  line-height: 2rem;
}

// discount card mobile

.discount-card-color {
  background: linear-gradient(231.99deg, $primary-03 0%, $brand-primary 100%);
}

.box-size {
  height: 14.8rem;
  width: 16rem;
}

.image-size {
  max-height: 100%;
  max-width: 100%;
}

.blank-dropdown {

  .button-wrapper {
    border-left: 0;
    color: $primary-02;
  }

  &.opened {

    .button-dropdown {
      border-color: transparent;
      border-left: 0;
      background-color: transparent;
    }
  }
}

.txt-malachite {
  color: $primary-02;
}

.button-wrapper.blank.txt-malachite {
  color: $primary-02;
}

.min-height-200 {
  min-height: 20rem;
}

.button-wrapper.mobile-button-size {
  padding: .8rem 2rem;
  line-height: 2rem;

  &:not(.large) {
    border-radius: 1.8rem;
  }

  &.large {
    padding: 1.3rem 1.6rem;

    &:not(.blank):focus {
      padding: 1.2rem 1.5rem;
    }

    &.disabled:focus {
      padding: 1.3rem 1.6rem;
    }
  }
}

// slider

.slider-box {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: $black-05;

  &.selected {
    background-color: $brand-primary;
  }
}

// mobile bottom panel

.with-mobile-bottom-panel {
  padding-bottom: 8.2rem;
}

.mobile-bottom-panel {
  position: fixed;
  bottom: 0;
  background-color: $white;
}

// mobile item card

.mobile-list {

  dt {
    color: $black-03;
    padding-bottom: .4rem;
    padding-top: 0;
    width: 100%;
  }

  dd {
    padding-left: 0;
    padding-top: 0;
    width: 100%;

    &:not(:last-of-type) {
      padding-bottom: 1.6rem;
    }
  }
}

.mobile-item-card-img-height {
  height: 17.5rem;
}

.button-wrapper.mobile-card-button {
  padding: .9rem;
  border-radius: 50%;

  &.more:not(.blank):not(.disabled):focus {
    padding: .8rem;
  }

  &:not(.blank).disabled:focus {
    padding: .9rem;
  }

  &.mini {
    padding: .65rem;

    &.more:not(.blank):not(.disabled):focus {
      padding: .55rem;
    }

    &:not(.blank).disabled:focus {
      padding: .65rem;
    }
  }

  &.disabled > .txt-white,
  & > .txt-white {
    color: $white !important;
  }
}

// mobile create order

.mobile-input {

  .input-element-wrapper,
  .masked-input-wrapper {
    border: none;
    border-bottom: 1px solid $black-04;
    border-radius: 0;
    height: auto;

    .input-element,
    .masked-input-element{
      padding-left: 0;
      font-size: 1.6rem;
      height: 2.4rem;
      caret-color: $primary-02;
    }

    &.focused:not(.disabled):not(.danger) {
      border-bottom-color: $primary-02;
    }

    &:not(.disabled):not(.danger):hover {
      border-bottom-color: $primary-02;
    }
  }
}

.txt-black-03 {
  color: $black-03
}


// mobile filters

.mobile-numeric-range {

  .numeric-text-box-input-wrapper {
    border: none;
    border-bottom: 1px solid $black-04;
    border-radius: 0;
    height: auto;

    &.focused:not(.disabled):not(.danger) {
      border-bottom-color: $primary-02;
    }

    &:not(.disabled):not(.danger):hover {
      border-bottom-color: $primary-02;
    }

    .numeric-text-box-input {
      padding-left: 0;
      font-size: 1.6rem;
      height: 2.4rem;
      border-radius: 0;
      caret-color: $primary-02;
    }
  }

  .numeric-range-delimiter {
    font-size: 1rem;
    font-weight: bold;
    width: 5%;
  }
}

.disabled.success.mobile-button-disabled,
.disabled.success.mobile-button-disabled:hover {
  color: $black-04 !important;
  background-color: $black-06 !important;
}

.mobile-filter-tag {
  border: none;
  padding: .6rem 1.6rem;
  background-color: $black-06;

  &.selected-tag {
    background-color: $black-01;
    color: $white;
  }
}


// win win bot banner

.win-bot-banner-background {
  background:url("https://cdn.esphere.ru/images/price-list/winwinbot-background-2.svg") no-repeat right;
  background-size: cover;
  margin-bottom: -1px;
}

.win-bot-controls-section {
  padding: 2.1rem 6.4rem 2.9rem 7rem;

  .win-bot-button {
    background-color: $win-bot-button-default;
    border-color: $win-bot-button-default;
    color: $white;

    &:hover {
      background-color: $win-bot-button-hover;
      border-color: $win-bot-button-hover;
    }

    &:active {
      background-color: $win-bot-button-active;
      border-color: $win-bot-button-active;
    }
  }
}

// tariff page

.tariff-page-indent {
  padding: 6rem 4.8rem 0;
}

.tariff-page-header {
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.tariff-page-text {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.margin-top-100 {
  margin-top: 10rem;
}

.tariff-card-opacity {
  opacity: .8;
}

.tariff-card-padding {
    padding: 2.4rem 2rem;

  &.tariff-card-border {
    border: .2rem solid $brand-primary;
    padding: 2.2rem 1.8rem;
  }
}

.min-height-60 {
  min-height: 6rem;
}

