@import '../variables/themes/_nova.scss';

.input-element-wrapper.disabled {

  input {
    -webkit-text-fill-color: #7d838a;
    opacity: 1
  }
}

a:not(.pagination-button):focus {
  box-shadow: none;
}

.main-wrapper {
  max-width: 76.8rem;
  margin: 0 auto;
}

.text-button.button-wrapper {
  padding: 0;
  border: 0;
  color: $secondary-02;

  &:active {
    background-color: transparent;
  }

  &:focus {
    padding: 0 !important;
    color: $secondary-01;
  }

  &:hover {
    color: $primary-02;
  }
}

header {
  height: 6rem;
  border-bottom: 1px solid $black-05;

  .button-wrapper {
    max-width: 19.2rem;
    padding: 0 1.5rem;
    height: 4.8rem;
    border-radius: 1.6rem;
    border-color: transparent;

    &:hover {
      background-color: $black-07;
      border-color: $black-07;
    }

    &:not(.blank):focus {
      padding: 0 1.4rem !important;
    }

    &.active {
      background-color: $black-07;
      border-color: $black-07;
    }
  }

  .account-info div {
    line-height: 1.6rem;
  }
}

.table {

  thead th {
    line-height: 1.6rem;
  }

  tbody {

    .button-wrapper.blank.more:hover > i {
      color: $black-03;
    }
  }
}

.status-tracker {
  height: 6rem;

  .statusbar-status-item {

    &:not(.first) {
      text-align: center;
    }

    .statusbar-icon {

      &::before {
        width: 2.4rem;
        height: 2.4rem;
        color: $black-04;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: 0 1px .3rem rgba(31, 31, 34, .25);
      }
    }

    .progress {

      &::before {
        color: $primary-02;
        border: .2rem solid $primary-02;
        background-image: none;
      }
    }

    .success {

      &::before {
        color: $white;
        background-color: $primary-02;
      }
    }

    &.prev-success + .statusbar-line {
      background-color: $primary-02;
    }

    .statusbar-label {
      min-width: 6rem;
      margin-top: .3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      font-weight: 400;
      color: $black-03;
      white-space: normal;
    }

    &.last {
      text-align: right;
    }
  }
}

.welcome-page {
  margin-top: 12.4rem;
  height: calc(100vh - 18.4rem);

  &-footer {
    padding: 4.8rem 4rem;
  }
}

.sms-code-input {

  .input-element-wrapper {
    height: 3.2rem;
    border-radius: 1.6rem;

    & > input[class*='input'] {
      height: 3rem;
    }
  }

  button {
    display: block;
    height: 2rem;
    width: 2rem;
    min-width: 0;
    margin-right: .6rem;
    padding: 0;
    border: 0;
    border-radius: 50%;

    i {
      color: $white;
    }

    &.loading {
      background-color: transparent !important;
    }

    &.disabled {

      i {
        color: $white !important;
      }
    }

    &:focus {
      padding: 0 !important;
    }
  }

  .sms-code-tooltip {
    height: 2rem;
    position: relative;
    margin-left: .6rem;

    .tooltip.top {
      width: 22.8rem;
      position: absolute;
      left: -1.4rem;
      top: -.4rem;
      transform: translate(0, -100%);
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s, visibility .2s;

      &::after {
        left: 2.4rem;
      }
    }

    &:hover {

      .tooltip {
        opacity: 1;
        visibility: visible;
        transition: opacity .2s;
      }
    }
  }
}

.page-header {
  background-color: $black-07;
}

.question-collapse {

  .collapse-heading-wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0;
    border-radius: 0;
    border: none;
  }

  .collapse-heading-icon {
    height: 2.4rem;
    width: 1.2rem;
    min-width: 1.2rem;
    margin-right: 1.2rem;
    transform: rotate(-90deg);

    &.icon-expanded {
      transform: rotate(0deg) !important;
    }
  }

  ul li {
    margin-left: 1.6rem;
    list-style-type: disc;
  }

  ol li {
    margin-left: 1.6rem;
    list-style-type: decimal;
  }
}

.box {
  border-radius: 1.6rem;
  border: 1px solid $black-05;
  box-shadow: 0 1px .3rem rgba(31, 31, 34, .25);
}

.block-separator {

  &-top, &-bottom {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $black-05;
    }
  }

  &-top::before {
    top: 0;
  }

  &-bottom::before {
    bottom: 0;
  }
}

.page-height {
  min-height: calc(100vh - 6rem);
}

.max-page-height {
  min-height: 100vh;
}

.info.tag::before {
  background-color: $secondary-02;
}

.error-validation {

  i {
    line-height: 1.6rem;
  }
}

.global-error {
  padding-top: 12.4rem;
}

.icon-24 {
  font-size: 2.4rem;
}

.txt-largest {
  font-size: 2.1rem;
  line-height: 3.2rem;
}
