@import '../variables/themes/_nova.scss';

$sidebar-width: 22.4rem;
$light-gray: #FCFCFC;

.content-background {
  background-color: $black-07;
}

.header-fix {
  background-color: $white;
}

.personal-box {
  padding: .6rem 1.2rem .5rem 3.2rem;

  a.logo {
    font-family: 'SBSansDisplay', sans-serif;
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: $primary-02;
  }
}

.sidebar {
  margin-top: 6rem;
}

nav .active-button {
  background-color: $black-06 !important;
}

.document-body {
  padding-left: $sidebar-width;
  padding-top: 6rem;
  min-height: 100vh;
  max-width: 168.8rem;
}

header .personal-box .user-name.more {
  max-width: 24rem;
  padding: 0 2.4rem;
  display: inline-block;
}

.panel-color {
  background-color: $white;

  &.collapse-panel-wrapper {
    border: none;
    box-shadow: 0 1px .3rem rgba($black-01, .25);
  }
}

.background-gray {
  background-color: $black-07;
}

.txt-size-30 {
  font-size: 3rem;
  line-height: 4rem;
}

.auth-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth-body {
  padding-top: 6rem;
  flex: 1 0 auto;
}

.auth-container {
  width: 59.4rem;
}

.footer-wrapper {
  background-color: $light-gray;
  padding: 3.6rem 3.2rem;
  justify-content: space-between;
  display: flex;
}


.list-check {
  padding-left: 3.6rem;

  &.gray > li {

    &:not(:last-child) {
      padding-bottom: 1.3rem;
    }

    &:before {
      left: -3.2rem;
      top: .6rem;
      color: $black-05;
      font-weight: bold;
    }
  }
}

.list-dot {
  padding-left: 1.6rem;
  margin-bottom: 0;

  > li {
    font-size: 1.6rem;
    line-height: 2.4rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: .8rem;
    }

    &::before {
      content: '';
      background-color: $primary-02;
      display: block;
      height: .8rem;
      width: .8rem;
      border-radius: 50%;
      position: absolute;
      left: -1.6rem;
      top: calc(50% - .4rem);
    }
  }
}

.tariff-card-body {
  min-height: 23.2rem;
}

.control-button {
  padding: .4rem !important;
  background-color: $black-05 !important;
  border-radius: 50% !important;

  &.selected {
    background-color: $black-03 !important;
  }
}

.slider-left-button-margin {
  margin-right: 3.2rem;
  margin-left: 6.8rem;
}

.slider-right-button-margin {
  margin-left: 3.2rem;
  margin-right: 6.8rem;
}

.min-width-236 {
  min-width: 23.6rem;
}

.aside-menu-list {
  .count {
    min-width: 1.6rem;
    font-size: .9rem;
    padding: 0;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-left: .8rem;
  }
}

.aside-panel {
  position: absolute;
  bottom: 60px;
  padding: 12px;
  width: 100%;
  background: #fff;
}

.checkbox-single > .checkbox-wrapper {
  position: relative;
  top: -0.4rem;
}

.bottom-panel {
  position: fixed;
  left: $sidebar-width;
  right: 0;
  bottom: 3.2rem;
  max-width: calc(142rem - #{$sidebar-width});
  width: 100%;
  background-color: $white;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    right: 0;
    top: -6.4rem;
    height: 6.4rem;
    pointer-events: none;
    background: linear-gradient(0, $white 0, rgba($white, 0) 100%);
  }

  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    right: 0;
    bottom: -3.2rem;
    height: 3.2rem;
    background-color: $white;
  }

  & .dark-panel-color {
    background-color: $black-06;
  }
}

.with-bottom-panel {
  padding-bottom: 12.8rem;
}

.table .button-wrapper {
  &.disabled.more:focus {
    padding: .5rem;
  }
}

// график Финансы

.bar-chart-height {
  height: 22.3rem;
}

.recharts-cartesian-axis-line {
  stroke: transparent;
}

.recharts-cartesian-grid-horizontal line {
  stroke: $black-07;
}

.recharts-yAxis {

  .recharts-text {
    fill: $black-05;
    font-size: 1.2rem;
  }

  .recharts-cartesian-axis-tick-line {
    stroke: transparent;
  }
}

.recharts-default-legend .recharts-legend-item .recharts-surface {
  width: .8rem;
}
