@import "../variables/_base.scss", "../variables/themes/_sb.scss", "../variables/themes/_nova.scss";

.personal-box {

  .search-success {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }

  .opened .button-dropdown {
    border-color: transparent;
  }

  .user-name {
    display: inline-block;
    text-align: left;
    max-width: 27rem;
    border-radius: 1.6rem !important;
    border-width: 0;
    padding: .8rem 1.6rem !important;

    .subtitle {
      line-height: 1.6rem;
    }
  }

  .button-dropdown:hover {
    background-color: $black-07;
  }
}

/* cis-sidebar
----------------------------------------------------------------------------- */

.cis-sidebar {
  height: 100vh;
  width: 42.4rem;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: -43.2rem;
  box-shadow: 0 .6rem 1rem rgba($black-01, .25);
  z-index: 302;
  transition: margin-right .3s;

  &-offset {
    margin-top: 6rem;

    .cis-sidebar-footer {
      margin-bottom: 6rem;
    }
  }

  &.open {
    margin-right: 0;
    z-index: 303;

    .notifications-top {
      right: 44rem;
    }

    .footer-filter {
      padding: 1.6rem;
      position: fixed !important;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $black-07;
      z-index: 1;

      li {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .box {
    box-shadow: $shadow-level-5;
  }
}

/* cis-search
----------------------------------------------------------------------------- */

.search {

  &-item-menu {

    .autocomlete-cis-company {
      width: 100%;
      margin-right: 3.2rem;

      .suggestion-wrapper {
        top: 100%;
        bottom: auto;
        z-index: 10;
    
        a.txt-black:hover {
          background-color: $black-07;
          border-radius: .8rem;
        }
      }

      .suggestion-list {
        max-height: inherit;
      }
    }

    .autocomplete-input-wrapper {
      border-radius: 0 .8rem .8rem 0;
    }

    .dropdownselect-input-wrapper {
      border-radius: .8rem 0 0 .8rem;
    }

    .autocomplete-input-wrapper, 
    .dropdownselect-input-wrapper {
      border-color: transparent;

      &:hover {
        background-color: $black-07;
        border-color: transparent;
        cursor: pointer;
      }
      
      &.focused {
        background-color: transparent;
        border-color: $black-01;
      }
    }

    .select-cis-country {
      width: 100%;
      max-width: 19rem;
    }

    .suggestion-wrapper {
      top: 100%;
      bottom: auto;
      z-index: 10;
    }
  }
}

.search-cis {
  margin-top: 8.6rem;
  max-width: 76rem;

  .autocomplete-input-wrapper, .dropdownselect-input-wrapper {
    height: auto !important;
  }

  .dropdownselect-input-wrapper {
    border-radius: 1.6rem 0 0 1.6rem;
  }

  .autocomplete-input-wrapper {
    border-radius: 0 1.6rem 1.6rem 0;
  }

  .select-cis-country .dropdownselect-input,
  .autocomlete-cis-company .autocomplete-input {
    height: 5rem;
    font-size: 1.6rem;
  }

  .select-cis-country {
    min-width: 28rem;
  }

  .autocomlete-cis-company {
    min-width: 48rem;
  }

  .suggestion-wrapper {
    top: 100%;
    bottom: auto;

    a.txt-black:hover {
      background-color: $black-07;
      border-radius: .8rem;
    }
  }

  .suggestion-list {
    max-height: 100%;
  }

  .subtitle {
    line-height: 1.6rem;
  }
}

.wrapper-search-result {
  max-width: 67.5rem;
}

// Временно, до деплоя стилей korus-ui

@mixin arrow_modifier($direction) {
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  color: $black-02;

  &::before {
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-style: solid;
    margin: 0;
    height: 32px;
    width: 32px;
    top: 0;
    box-shadow: none;
  }

  &::after {
    display: none;
  }

  &:hover {
    color: $black-01;
  }
}

.widget-chart {
  height: 4.8rem;
  width: 4.8rem;
  position: relative;

  .recharts-surface {
    transform: rotate(-90deg);
  }

  .widget-summ-value {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.1rem;
    transform: translateX(-50%);
    max-width: 2.8rem;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.widget-lvl {
  position: relative;
  margin-bottom: .4rem;
  margin-left: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    display: block;
    background-color: $black-04;
    border-radius: .2rem ;
    bottom: .2rem;
    left: -1.2rem;
    position: absolute;
    width: .3rem;
    top: .2rem;
  }

  &.success-lvl:before {
    background-color: $primary-02;
  }

  &.warning-lvl:before {
    background-color: $accent-02;
  }

  &.danger-lvl:before {
    background-color: $error-02;
  }

  &.info-lvl:before {
    background-color: #0aa63f;
  }
}

.widgets-wrapper {
  padding: 2.4rem 3.2rem;

  &-small {
    border: .1rem solid $black-05;
    border-radius: 1.6rem;
    margin-bottom: .8rem;
    padding: 1.6rem 2.4rem;
  }
}

.widget-border-success {
  border-color: $primary-02;
}

/* diagramm
----------------------------------------------------------------------*/

.bar-tooltip {
  background-color: $black-01;
  color: $text-reverse;
  padding: 1.6rem;
  line-height: 2.4rem;
  border-radius: .8rem;

  .txt-gray {
    color: $black-04 !important;
  }
}

.recharts-rectangle.recharts-tooltip-cursor {
  fill: transparent !important;
}

.recharts-label-surface {
  width: 1.5rem;
  height: .3rem;
}

.txt-light {
  color: $black-03;
}

.txt-line-clamp-7 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  max-height: 14rem;
}

.max-height-5 {
  max-height: 5rem;
}

.max-height-100 {
  max-height: 100%;
}

.height-10 {
  height: 10rem;
}

.hover-element {
  user-select: none;

  &:hover {
    background-color: $black-07 !important;
    border-radius: .8rem;
  }

  &.active,
  &:active {
    background-color: $black-06 !important;
  }
}


.bg-transparent {
  background-color: transparent !important;
}

.bg-gray-06 {
  background-color: $black-06 !important;
}

.bg-gray-07 {
  background-color: $black-07 !important;
}

.bg-gray-08 {
  background-color: $gray-lighter !important;
}

/* icon
----------------------------------------------------------------------------- */

.icon-42 {
  font-size: 4.2rem;
}

/* typograf product
----------------------------------------------------------------------------- */

.h1, .h-1 {
  font-size: 3rem;
  line-height: 3.4rem;
  font-weight: 500;
}

.h2 {
  font-size: 2.1rem;
  line-height: 3.2rem;
}

.h3 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

/* lists
----------------------------------------------------------------------------- */

$spacers: (4, 8, 12, 16, 24, 32) !default;

@each $spacer in $spacers {
  .list-space-#{$spacer} {

    dt {
      padding-top: 0;
    }

    dd {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: #{$spacer}px;
      min-height: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* input
----------------------------------------------------------------------------- */

.width-126 {
  width: 12.6rem;
}; 

.width-290 {
  width: 29rem;
};

.overlay-input {
  background-color: rgba($black-01, .56);
  backdrop-filter: blur(.3rem);
  min-height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 1;
}
