.h-stepper {

  &-wrapper {
    background-color: var(--h-stepper-bg);
    padding: 1.6rem 3.2rem;
    position: relative;

    &.fixed {
      box-shadow: var(--h-stepper-shadow);
      position: sticky;
      top: 0;
      z-index: $zindex-h-stepper-fixed;
    }

    &.interactive {

      .h-stepper-item {

        &:not(.selected) {
          cursor: pointer;

          &:hover {
            border-color: var(--brand-color);
          }

          &:not(:last-child):hover {

            &::after {
              content: var(--h-stepper-item-hover-arrow);
            }
          }
        }

        &:focus,
        &.focus {

          &:not(.disabled) {
            border-color: $focus-border;

            &:not(:last-child)::after {
              content: var(--h-stepper-item-focus-arrow);
            }
          }
        }

        &.selected {

          &:focus,
          &.focus {

            &:not(:last-child)::after {
              content: var(--h-stepper-item-selected-focus-arrow);
            }
          }
        }
      }
    }
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &-item {
    background-color: var(--h-stepper-item-bg);
    border-color: var(--h-stepper-item-border);
    border-style: solid;
    color: $black-03;
    cursor: default;
    display: inline-flex;
    font-size: 1.2rem;
    line-height: 1.6rem;
    min-width: 4.1rem;
    outline: none;
    position: relative;

    &:not(:last-child)::after {
      content: var(--h-stepper-item-arrow);
      display: block;
      position: absolute;
      right: -2.1rem;
      top: -1px;
      transform: translate(0);
      width: 2.1rem;
      height: 3.2rem;
    }

    &:not(:last-child) {
      border-radius: .6rem 0 0 .6rem;
      border-width: 1px 0 1px 1px;
      padding: .7rem 0 .7rem 1.1rem;
    }

    &:last-child {
      border-radius: .6rem;
      border-width: 1px;
      padding: .7rem 1.1rem;
    }

    .h-stepper-item-icon {
      flex-shrink: 0;
      font-size: 1.6rem;
      margin-right: .4rem;

      &.success {
        color: var(--brand-color);
      }
    }

    &.selected {
      background-color: var(--h-stepper-item-selected-bg);
      border-color: var(--brand-color);
      color: var(--h-stepper-item-selected-color);
      flex-shrink: 0;

      &:not(:last-child)::after {
        content: var(--h-stepper-item-selected-arrow);
      }
   }

    &.disabled {
      border-color: var(--h-stepper-item-disabled-border);
      cursor: not-allowed;
      pointer-events: none;

      * {
        color: var(--h-stepper-item-disabled-color) !important;
      }

      &:not(:last-child) {

        &::after {
          content: var(--h-stepper-item-disabled-arrow);
        }
      }
    }

    + .h-stepper-item {
      margin-left: 3.2rem;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-progress-bar {
    width: 100%;
    height: .2rem;
    position: absolute;
    top: calc(100% - .2rem);
    left: 0;
    background-color: var(--progressbar-bg);

    .progress-bar-item {
      height: 100%;
      max-width: 100%;
      background-color: var(--brand-color);
    }
  }
}
