@mixin button($default, $hover, $active, $disabled) {
  .button-wrapper {
    &.success,
    &.primary {
      background-color: $default;
      border-color: transparent;
  
      &:hover {
        background-color: $hover;
        border-color: transparent;
      }
                    
      &:active,
      &.active {
        background-color: $active;
      }
                    
      &.disabled {
        background-color: $disabled !important;
                    
        &:hover {
          background-color: $disabled !important;
        }
      }
    }
  }
}