@mixin layout($default) {

  .personal-box {

    .hamburger {

      .bar {
        background-color: $default;
      }

      i {
        color: $default;
      }
    }

    button.more {

      &.active i,
      &:active i {
        color: $default;
      }
    }
  }

  .sidebar {

    .aside-menu-list {

      > li {

        &::after {
          background: $default;
        }

        &.active {

          [class^="prodicon-"],
          [class*=" prodicon-"] {
            color: $default;
          }
        }
      }
    }
  }
}