@mixin slider($default, $active) {
    .slider {
    
        &-track {
      
          &.active {
            background-color: $default;
          }
        }
      
        &-handle {
          background-color: $default;
      
          &::after {
            background-color: $default;
          }
      
          &:hover, &:active {
            background-color: $active;
          }
        }
      
        &-mark {
      
          &.active {
            background-color: $default;
            border-color: $default;
          }
        }
      }
  }