@mixin statusbar($default) {
  .statusbar {
    
    &-status-item {
      
      .success {
        & + .statusbar-label {
          color: $default;
        }
      
        &::before {
          background-color: $default;
        }
      }

      .progress {

        &::before {
          font-weight: bold;
          color: $default;
          border: 0.2rem solid $default;
          background-image: none;
        }
      }
    }
  }

  .status-tracker {
      
    .statusbar-status-item {
  
      .progress::before {
        color: $default;
        border: .2rem solid $default;
        background-image: none;
      }
    
      .success {
    
        &::before {
          background-color: $default;
          color: $white;
        }
      }
    
      &.prev-success + .statusbar-line {
        background-color: $default;
      }
    }
  }
}