.staff-input,
.doc-staff-input {
  min-width: 0;

  input {
    font-family: inherit;
    font-size: inherit;
    padding: .6rem .4rem .6rem 1.2rem;

    & + div {
      padding: .6rem .8rem .6rem .4rem;
    }
  }
}

.dropdownselect-wrapper,
.multiselect-wrapper {

  .collapse-heading-wrapper {
    position: relative;
    margin-bottom: .2rem;
    padding: .8rem .8rem .8rem 4.4rem;
    line-height: 1.6rem;
    border: none;

    &:hover {
      border-radius: .8rem;
      background-color: $black-07;
    }
  }

  .collapse-heading-icon {
    position: absolute;
    top: 0;
    left: .4rem;
  }

  .collapse-dropdown-element {
    margin-bottom: .2rem;

    li {
      margin-left: 3.2rem;
      padding: .8rem 0 .8rem 1.2rem;
      line-height: 1.6rem;
    }
  }
}

.checkbox-input:checked + .checkbox-label::before,
.checkbox-input:checked + .checkbox-label:not(.semi)::after {
  background-color: $success;
  border-color: $success;
}

.checkbox-input + .checkbox-label:hover::before,
.checkbox-input + .checkbox-label:not(.semi):hover::after {
  border-color: $success-hover;
}

.checkbox-input:checked + .checkbox-label:hover::before,
.checkbox-input:checked + .checkbox-label:not(.semi):hover::after {
  background-color: $success-hover;
  border-color: $success-hover;
}

.checkbox-input:disabled + .checkbox-label:not(.semi)::after {
  background-color: transparent !important;
}

// Дополнительный фикс при подключенном виджете "5 звёзд" - убрать, когда поправят в виджете
.checkbox-input:disabled + .checkbox-label.semi::after {
  background-color: $black-05 !important;
}

.checkbox-input:disabled + .checkbox-label::before {
  background-color: $black-07;
  border-color: $black-05;
}

.checkbox-label {
  word-break: break-word;
}

.radio-wrapper .radio-button {

  .radio-button-input:not(:disabled) {

    & + .radio-button-label:hover::before {
      border-color: $success-hover;
    }

    &:checked {
      + .radio-button-label {

        &::before {
          background-color: $success;
          border-color: $success;
        }

        &:hover::before {
          background-color: $success-hover;
          border-color: $success-hover;
        }
      }
    }
  }
}

.big-textarea {

  .textarea-input {
    height: 33.2rem;
  }
}

.textarea-wrapper {
  ::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    margin-top: .4rem;
    margin-bottom: .4rem;
    background-color: $black-07;
    border-radius: .4rem;
    &:hover {
      background-color: $base-1;
    }
  }
}

.textarea-input {
  padding: 0.7rem 1.2rem !important;
  cursor: auto;
}

.sms-box {
  position: relative;
  width: 16.9rem;

  .input-wrapper {

    .input-element-wrapper {
      border-radius: 1.6rem;

      .button-wrapper {
        border: none;
        line-height: 2rem;
        padding: .5rem .6rem;
        min-width: 3.2rem;

        i[class^="prodicon-backward"] {
          color: $blue-tag;
        }
      }

      input.input-element {
        padding: 0 .6rem;

        &:not(:placeholder-shown) + .button-wrapper i[class^="prodicon-backward"] {
          color: $success;
        }
      }
    }
  }
}

.data-picker-relative {
  position: relative;

  .datepicker-wrapper + span {
    position: absolute;
    top: .6rem;
    left: 14.2rem;
  }
}

.fixed-datepicker {

  .datepicker-input-wrapper {
    width: 12.6rem;
  }
}

.fixed-input {
  width: 28.8rem;
}

.route-name-input {

  .input-element-wrapper {
    height: 2rem;
    border: none;
    border-radius: .4rem;
  }

  .input-element-wrapper > input[class*="input"] {
    height: 2rem;
    padding: 0 .8rem;
    line-height: 2rem;
    color: $black-03;
  }
}

.suggestion-wrapper {
  z-index: 11;
}

.history-type {
  width: 13.6rem;
}

.switcher-wrapper.active {
  background: $success;
}

.multiselect-tags-container {
  width: calc( 100% - 6rem);

  .tags-item {
    max-width: calc(100% - .8rem);
  }
}


.disabled,
.disabled * {
  cursor: default !important;
}