.block-inline {
  display: inline-block !important;
}

.width-60 {
  width: 60% !important;
}

.max-w-100 {
  max-width: 100%;
}

.flex-row {
  display: flex !important;
}

.height-100 {
  height: 100vh;
}

.height-100-percent {
  height: 100%;
}

.txt-largest {
  font-size: 2.1rem;
  line-height: 3.2rem;
}

.subtitle {
  color: $black-03;
  line-height: 1.6rem;
}

.margin-negative {
  margin-right: -3.2rem;
}

.padding-bottom-profile {
  padding-bottom: 8rem !important;
}

.txt-light-gray {
  color: $black-04 !important;
}

.txt-lighter-gray {
  color: $black-05 !important;
}

.txt-dark-gray {
  color: $text;
}

.txt-overflow-clip {
  text-overflow: clip !important;
}

.border-bottom-gray {
  border-bottom: 1px solid $black-05;
}

.margin-bottom-panel {
  margin-bottom: 8rem;
}

.border-spacing-y-16 {
  border-spacing: 0 1.6rem !important;
}

.label-in-two-lines {
  margin-top: -.6rem !important;
}

.vertical-align-none {
  vertical-align: 0;
}

.bg-asphalt-5 {
  background-color: $black-07;
}