@import '../../../components/watermark';

body > iframe {
  border-width: 0;
}

.common-error {
  padding-top: 10.4rem;
}

.notary-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;

  & > div {
    width: 100%;
  }
}

.content-box {
  margin-left: 22.4rem;
  padding-top: 6rem;
  padding-bottom: 0;

  .wrapper {
    min-height: calc(100vh - 6rem);
    padding: 3.2rem 2.4rem;
  }
}

@include watermark("Образец", 19.2rem, 66rem);

// дополнительные стили для зума документа на мобильных устройствах
* {
  touch-action: pan-x pan-y;
}