.light-box-wrapper {

  .icon-close {
    display: none;
  }
}

.preview-documents {

  .light-box-content > .loader-wrapper {
    max-width: calc(100% - 17.6rem);
  }

  .light-box-overlay {

    &.sm,
    &.md,
    &.lg {

      .light-box-content {
        width: calc(100% - 16.8rem);
      }
    }
  }

  .light-box-content {
    // Убрать !important после обновления компонента
    width: calc(100% - 16.8rem) !important;
  }

  & + .light-box-cross {
    right: 6.4rem;
  }
}

.icon-close {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.light-box {

  &-wrapper-bg {
    overflow: hidden;
  }

  &-window {
    // Убрать !important после обновления компонента
    width: 100% !important;
    background-color: unset;
    overflow-y: scroll;
  }

  &-content {
    // убрать после обновления компонента
    width: 100rem !important;
    max-width: 100%;
    margin: 0 auto;
    background-color: unset;

    > .loader {

      &-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        max-width: 100rem;
        z-index: 61;
      }

      &-container {
        z-index: 61;
      }
    }
  }


  &-overlay {
    overflow: hidden;

    .overlay-bg {

      .light-box-alert {

        & ~ .light-box-body,
        & ~ .light-box-footer {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($white, .8);
          }
        }
      }
    }

    &.sm,
    &.md,
    &.lg {

      .light-box-content {
        width: 100rem;
        align-items: flex-end;
        box-shadow: none;

        &::after,
        > * {
          max-width: 100%;
        }

        > .loader-wrapper .loader-element {
          left: 50%;
        }
      }
    }

    &.sm {

      .light-box-content {

        &::after,
        > * {
          width: 48rem;
        }
      }
    }

    &.md {

      .light-box-content {

        &::after,
        > * {
          width: 60rem;
        }
      }
    }

    &.lg {

      .light-box-content {

        &::after,
        > * {
          width: 80rem;
        }
      }
    }

    .light-box-content-wrapper {
      right: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      transform: none;

      .light-box-content::after,
      &.overlay-bg .light-box-content::before {
        content: "";
        position: absolute;
        height: 100%;
        z-index: -1;
      }

      .light-box-content::after {
        right: 0;
        box-shadow: -1.3rem 0 1.7rem $base-09;
      }

      &.overlay-bg {
        background-color: unset;

        .light-box-content::before {
          width: 100%;
          background-color: rgba($white, .8);
        }
      }
    }
  }

  &-alert {
    position: sticky;
    top: 0;
  }
}

// класс для корректного зума документа (внешняя библиотека)
.scale-document {
  padding: 2.4rem 3.2rem;
  width: 100%;
}