.card-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.change-account-loader {

  p {
    position: absolute;
    top: calc(50% + 8rem);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.loader {
  &-wrapper {
    min-height: 19.2rem;
  }
  &-element {
    width: 6.4rem;
    height: 6.4rem;
    background: url("https://cdn.esphere.ru/images/loading-spinner-sky.svg");
    background-repeat: no-repeat;
    background-position: center;

    &::before,
    &::after {
      display: none;
    }
  }
}

.loading-input {

  .input-element-wrapper::before,
  .autocomplete-input-wrapper::before,
  .dropdownselect-select-icon::before {
    background-image: url("https://cdn.esphere.ru/images/loading-spinner-sky.svg");
  }

  .dropdownselect-select-icon::before {
    content: " ";
    width: 2rem;
    height: 2rem;
  }
}

.multiselect-wrapper .multiselect-loading-icon::before {
  content: url("https://cdn.esphere.ru/images/loading-spinner-sky-small.svg")
}

.table-loader {
  z-index: 10;
}