.count {
  height: 1.6rem;
  min-width: 1.6rem;
  font-size: .9rem;
  line-height: 1.6rem;
}

.count-employees {
  width: 5.6rem;
}

.notification-new {

  &::before {
    content: '';
    position: absolute;
    top: 1.2rem;
    right: .8rem;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    background-color: $accent-02;
  }
}

.notification-login-failed {
  top: 2.4rem;
}

.sign-cert-box {
  background-color: $white;
  border-color: $black-05;

  .i-label {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.error-validation,
.info-message {

  i {
    line-height: 1.6rem;
  }
}