.doc-v-stepper {

  .v-stepper-step {
    height: 9.6rem;
    padding-left: 14.2rem;
    background-color: transparent;
    border: none;

    &:hover:not(.active):not(.disabled) {
      background-color: transparent;
    }

    .v-stepper-icon {
      margin: 0;
      box-shadow: $box-shadow-stepper-icon;
      z-index: 0;

      &::after {
        content: '\e96c';
        color: $black-04;
        font-size: 1.6rem;
        line-height: 2rem;
      }

      &::before {
        visibility: hidden;
      }
    }

    &.progress {

      .v-stepper-icon {
        border-color: $success;

        &::after {
          color: $success;
        }
      }
    }

    &.success {

      .v-stepper-icon {
        background-color: $success;

        &::after {
          color: $text-reverse;
        }
      }

      .v-stepper-line {
        border-left-color: $success;
      }
    }

    .v-stepper-line {
      height: calc(100% - 2.4rem);
      top: 3.2rem;
      z-index: 0;
    }

    .v-stepper-sign + div {
      padding-top: .2rem;
    }

    .v-stepper-date {
      position: absolute;
      top: .2rem;
      left: 0;
    }
  }
}

.primary-v-stepper {

  .v-stepper-line.success {
    border-left-color: $success;
  }

  .progress {

    .v-stepper-icon {
      border-color: $success;
    }

    .v-stepper-icon::before {
      color: $success;
    }
  }

  .success {

    .v-stepper-icon {
      background-color: $success;
    }
  }

  &.ending-align-left {

    .v-stepper-ending {
      text-align: left;
    }
  }

  &.can-delete-step {
    width: calc(100% - 2.8rem);

    .step-wrapper {
      position: relative;

      &:last-child .v-stepper-line {
        border-left: 0;
        height: 0;
      }
    }

    .delete-step {
      position: absolute;
      top: 2.1rem;
      right: -2.8rem;
    }
  }
}