.profile {

  h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.history-message-count {
  margin-top: .7rem;
}

.title-block {
  background-color: $black-07;
}

.title-footer {
  width: calc(100vw - 22.4rem);
  position: fixed;
  bottom: 0;
  right: 0;
}

.profile-not-auth {

  .title-footer {
    width: 100%;
  }
}