@import '../../../variables/themes/nova';

$success: $secondary-02;
$success-hover: $secondary-03;
$success-active: $secondary-01;
$success-disabled: #87b0ed;
$green: #21a038;
$green-hover: #1a802d;
$green-active: #156624;
$blue-tag: #93b7ed;
$box-shadow-stepper-icon: 0 1px .3rem rgba(31, 31, 34, .25);
