.button-wrapper {

  &.success {
    background-color: $success;
    border-color: transparent;

    &:hover {
      background-color: $success-hover;
      border-color: transparent;
    }

    &:active {
      background-color: $success-active;
    }

    &.disabled {
      background-color: $success-disabled !important;

      &:hover {
        background-color: $success-disabled !important;
      }
    }
  }

  &.loading::before {
    background-image: url(https://cdn.esphere.ru/images/loading-spinner-sky-small.svg);
  }
}