@font-face {
  font-family: 'stars';
  src:
    url('https://cdn.esphere.ru/fonts/stars/stars.woff2') format('woff2'),
    url('https://cdn.esphere.ru/fonts/stars/stars.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}