.checkbox-input:checked + .checkbox-label::before,
.checkbox-input:checked + .checkbox-label:not(.semi)::after {
  background-color: $success;
  border-color: $success;
}

.checkbox-input + .checkbox-label:hover::before,
.checkbox-input + .checkbox-label:not(.semi):hover::after {
  border-color: $success-hover;
}

.checkbox-input:checked + .checkbox-label:hover::before,
.checkbox-input:checked + .checkbox-label:not(.semi):hover::after {
  background-color: $success-hover;
  border-color: $success-hover;
}

.checkbox-input:disabled + .checkbox-label:not(.semi)::after {
  background-color: transparent !important;
}

.checkbox-input:disabled + .checkbox-label::before {
  background-color: $black-07;
  border-color: $black-05;
}

.checkbox-label {
  word-break: break-word;
}

.radio-wrapper .radio-button {

  .radio-button-input:not(:disabled) {

    & + .radio-button-label:hover::before {
      border-color: $success-hover;
    }

    &:checked {
      + .radio-button-label {

        &::before {
          background-color: $success;
          border-color: $success;
        }

        &:hover::before {
          background-color: $success-hover;
          border-color: $success-hover;
        }
      }
    }
  }
}