.icon {
  font-family: 'stars' !important;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $accent-02;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-empty::before {
  content: "\e900";
}

.icon-star-filled::before {
  content: "\e901";
}