.loader-container {
  z-index: 99;
}

.loader-element,
.loading-input .input-element-wrapper::before,
.loading-input .autocomplete-input-wrapper::before,
.loading-input .dropdownselect-select-icon::before,
.button-wrapper.loading::before {
  background-image: url("https://cdn.esphere.ru/images/loading-spinner-sky.svg");
}

.button-wrapper.loading::before {
  background-size: 20px;
}

.multiselect-wrapper .multiselect-loading-icon::before {
  content: url("https://cdn.esphere.ru/images/loading-spinner-sky-small.svg")
}

/* Лоадер для контента */

.content-box-loader {
  height: calc(100% - 12.8rem);
}

/* Лоадер для контента + заголовок */

.content-box-full-loader {
  min-height: calc(100vh - 6rem);

  .loader-element {
    position: fixed;
    top: 50vh;
  }
}

@media (min-width: 1366px) {

  .content-box-full-loader .loader-element {
    left: calc(50% + 11.2rem);
  }
}

/* Лоадер для модального окна просмотра печатной формы */

.print-container-loader {
  background-color: $white;
  min-height: 100vh;

  .loader-wrapper {
    height: 100vh;
  }
}

/* Лоадер для контента внутри табов (главная таблица) */

.tab-loader {

  .loader-container {
    min-height: 30rem;
  }

  .loader-element {
    top: 16.8rem;
  }
}

/* Лоадер для оверлея */

.loader-wrapper .loader-container {
  z-index: 500;
}
