.sidebar {
  background-color: transparent;
  border-right: 0;
  overflow: hidden;
  margin-left: -$sidebar-width;
  margin-top: 6rem;
  transition: .3s ease margin-left;

  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: calc(100% - 6rem);
    border-right: 1px solid $black-05;
  }

  &.visible {
    margin-left: 0;
    transition: .3s ease margin-left;
  }

  .aside-menu-list {
    background-color: $body-bg;
    overflow: auto;
    padding-bottom: .8rem;
    padding-top: 0;
    flex-grow: 1;

    .count {
      font-size: .9rem;
      line-height: 1.6rem;
      min-width: 1.6rem;
      margin-top: .2rem;
      padding: 0 .4rem;
    }
  }

  .aside-menu-top {
    position: relative;
    min-height: 6.9rem;
    flex-grow: 0;
    padding-top: .8rem;
    padding-bottom: 1.3rem;

    &::after {
      content: '';
      position: absolute;
      left: 1.2rem;
      right: 1.2rem;
      bottom: .2rem;
      display: block;
      width: calc(100% - 2.4rem);
      height: .1rem;
      background-color: $black-06;
      visibility: visible;
    }

    .count {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .aside-menu-button {
    background-color: $black-07;
    cursor: pointer;

    span {
      color: $text;
    }

    [class^='prodicon-'],
    [class*=' prodicon-'] {
      font-size: 1.6rem;
      color: $success-active;
      border: .2rem solid $success-active;
      border-radius: 50%;
    }

    &:hover {
      background-color: $black-06;
    }
  }

  .fixed {

    &-down {
      bottom: 0;
      z-index: 1;
    }

    &-input {
      background-color: $body-bg;
      padding-bottom: .8rem;
      padding-top: 1.6rem;
      z-index: 1;

      .input-element-wrapper > input[class*="input"] {
        padding-right: 1.2rem;
      }
    }
  }

  nav li,
  [class*="level-"] > a,
  [class*="level-"] > span {
    white-space: normal;
  }

  .context-menu {
    z-index: 3;

    [class*="level-"] {
      padding: 0;

      &:hover {

        > a {
          background-color: $black-07;
        }
      }

      > a {
        margin-left: 0;
        white-space: nowrap;
      }
    }
  }
}


@media (min-width: 1366px) {

  .sidebar {
    position: sticky !important;
    top: 6rem;
    height: auto;
    max-height: calc(100vh - 6rem);
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;

    nav {
      position: sticky !important;
      width: 22.3rem;
      height: 100%;
    }
  }
}
