.statusbar {

  &-status-item {

    .statusbar-icon::before {
      font-weight: 600;
    }

    .statusbar-icon:not(.progress):not(.success):not(.danger):not(.cancel):not(.warning)::before {
      color: $black-04;
    }

    .danger::before {
      background-color: $danger;
    }

    .cancel::before,
    .warning::before {
      border: .2rem solid currentColor;
    }

    .cancel::before {
      color: $danger;
    }

    .warning::before {
      color: $warning;
    }
  }

  &-line {

    .active + & {
      background-color: $success;
    }

    .danger + & {
      background-color: $danger;
    }
  }

  &-break {
    width: calc(100% + 4.8rem);
    margin-left: -2.4rem;
  }
}
