.tour {

  &-overlay {
    fill: rgba(33,33,33,0);
  }

  &-modal {
    width: 37.9rem;
    border-radius: 1.6rem;
    box-shadow: $shadow-level-5;

    &::after {
      width: 1.2rem;
      height: 1.2rem;
    }

    &.right {

      &::after {
        left: -.6rem;
        border-radius: 0 0 0 .2rem;
        box-shadow: -1px 1px 0 0 rgba($black-01,.08);
        top: calc(50% - .8rem);
      }
    }

    &.left {

      &::after {
        right: -.6rem;
        border-radius: 0 .2rem 0 0;
        box-shadow: 1px -1px 0 0 rgba($black-01,.08);
        top: calc(50% - .8rem);
      }
    }

    &.top,
    &.top-center {

      &::after {
        bottom: -.6rem;
        border-radius: 0 0 .2rem 0;
        box-shadow: 1px 1px 0 0 rgba($black-01,.08);
        left: calc(50% - .8rem);
      }
    }

    &.bottom,
    &.bottom-center {

      &::after {
        top: -.6rem;
        left: calc(50% - .8rem);
        border-radius: .2rem 0 0 0;
        box-shadow: -1px -1px 0 0 rgba($black-01,.08);
      }
    }
  }
}